

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'Roboto', sans-serif;
}

h1, h3
{
	font-family: 'Roboto', sans-serif;
	color: black;
}
span{
    font-family: 'Roboto', sans-serif;
}
.bullet {
    margin-left:20px
}
.bullet li {
    list-style:disc
}
body {

    font-size: 14px;
    color:#828282
}
html{
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family: 'Roboto', sans-serif;
}

#footer p#fc4-1, #footer p#fc5-1 {
    color:#ddd3bf
}
em {
    font-weight:700;
    color:#777
}
.pageContent p {
    line-height:26px
}


img {
    max-width:100%
}

footer h4 {
    color:#fdfdfd;
    margin-bottom:15px
}

blockquote {
    background:#f3f5f8;
    padding:20px;
    margin:30px 0
}
.alignleft {
    width:50%;
    margin:30px 30px 30px 0!important
}
.alignright {
    width:50%;
    margin:30px 0 30px 30px!important
}
.topBar {
    background:#292a2c
}
.topBarMenu, .topBarMenu a {
    color:#d3dadc;
    text-shadow:-1px -1px rgba(0, 0, 0, .9);
    text-decoration:none;
    font-family:'Archivo Narrow', sans-serif;
    font-size:15px
}
.topBarMenu {
    float:left;
    margin:0;
    border-right:1px solid #000;
    border-left:1px solid #404244
}
.topBarMenu li {
    float:left;
    margin:0;
    padding-top:13px;
    padding-bottom:13px;
    border-left:1px solid #000;
    border-right:1px solid #404244
}
.topBarMenu a, .topBarMenu span {
    padding:13px 20px 13px 48px
}
.openingHours {
    background:url(images/openingHoursIconLight.png) 19px 15px no-repeat;
    padding-left:26px
}
.contactModule, .openingHoursModule {
    position:relative
}
.contactModule .footerModule, .openingHoursModule .footerModule {
    position:absolute;
    z-index:999999;
    top:44px;
    -moz-box-shadow:0 8px 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow:0 8px 10px rgba(0, 0, 0, .5);
    box-shadow:0 8px 10px rgba(0, 0, 0, .5);
    display:none
}
.contactModule .footerModule {
    width:430px
}
.contactModule .footerModule h3 {
    width:394px
}
.contactModule .footerModule span, .openingHoursModule .footerModule span {
    padding:0
}
.contactClose, .openingHoursClose {
    margin-top:9px;
    color:#fff!important;
    text-shadow:none!important;
    padding:0 8px!important;
    font-size:11px!important;
    float:right;
    font-weight:700;
    background:rgba(0, 0, 0, .2);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -webkit-transition:all 60ms ease-in;
    -moz-transition:all 60ms ease-in;
    transition:all 60ms ease-in;
    line-height:25px
}
.contactClose:hover, .openingHoursClose:hover {
    background:rgba(0, 0, 0, .3)
}
.topBarActive {
    color:#fff!important;
    text-shadow:none!important
}
.phone {
    background:url(images/phoneIconLight.png) 19px 14px no-repeat;
    padding-left:26px
}
.contact {
    background:url(images/mailIconLight.png) 19px 16px no-repeat;
    padding-left:26px
}
.contact:hover, .openingHours:hover {
    text-shadow:none;
    color:#fff
}
.topBarSocial {
    float:left;
    margin-left:17px
}
.topBarSocialList {
    margin:0;
    overflow:hidden;
    padding:0
}
.topBarSocialList li {
    display:block;
    float:left;
    margin:0 2px;
    padding:0
}
.topBarSocialList li a {
    color:inherit;
    display:block;
    font-size:12px;
    line-height:44px
}
.topBarSocialList li a:hover {
    color:#fff
}
.topBarSearch {
    float:right
}
.topBarSearch form, .topBarSearch input {
    margin:0;
    width:300px
}
.topBarSearch input {
    background:url(images/magIcon.png) 15px 14px no-repeat #3e3f40!important;
    border:0;
    border-radius:0;
    padding:14px 20px 14px 45px;
    width:234px
}
.topBarSearch input:focus {
    border:0;
    color:#aaa
}
.topBarSearch #searchsubmit, .topBarSearch label {
    display:none
}
.logo {
    float:left;
    margin-top:25px;
    width:230px
}
.logo img {
    float:left
}
.logo span {
    color:#aeaeae;
    font-size:15px;
    font-family:'Archivo Narrow';
    font-style:normal;
    font-weight:700;
    text-decoration:none;
    float:left;
    margin:20px 15px
}
.logo a {
    text-decoration:none
}
.mainNav {
    margin:0;
    float:right;
    border-left:1px solid #e1e1e1
}
.mainNav li {
    margin:0;
    display:inline
}
.mainNav .current_page_item ul a {
    background:#fff!important;
    color:#c2c2c2
}
.mainNav .current-menu-item a, .mainNav .current_page_item a {
    color:#fff;
    border:0
}
.mainNav .current-menu-item a:hover, .mainNav .current_page_item a:hover {
    border:0
}
.mainNav li a:hover {
    color:#fff
}
.mainNav li ul li a {
    padding:20px;
    border-right:none!important;
    display:block;
    width:100%
}
.mainNav li ul li {
    padding-right:40px;
    border-bottom:1px solid #e1e1e1!important
}
.mainNav li ul li:last-child {
    border:none!important
}
.mainNav li a {
    color:#c2c2c2;
    font-size:15px;
    border-right:1px solid #e1e1e1;
    font-family:'Archivo Narrow';
    font-style:normal;
    font-weight:700;
    text-transform:uppercase;
    text-decoration:none;
    margin:0;
    padding:46px 25px;
    display:block;
    float:left;
    -webkit-transition:all 60ms ease-in;
    -moz-transition:all 60ms ease-in;
    transition:all 60ms ease-in
}
nav select {
    width:100%;
    z-index:5;
    opacity:0;
    display:none;
    position:relative;
    cursor:pointer!important;
    margin-bottom:30px!important;
    padding:10px 0 20px 15px
}
.select-container {
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border:1px solid #cdced0;
    -webkit-box-shadow:0 2px 3px rgba(0, 0, 0, .35), inset 0 1px 0 rgba(255, 255, 255, .35), inset 0 10px 20px rgba(255, 255, 255, .12), inset 0 -10px 30px rgba(0, 0, 0, .12);
    -moz-box-shadow:0 2px 3px rgba(0, 0, 0, .35), inset 0 1px 0 rgba(255, 255, 255, .35), inset 0 10px 20px rgba(255, 255, 255, .12), inset 0 -10px 30px rgba(0, 0, 0, .12);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, .08), inset 0 -5px 10px rgba(0, 0, 0, .03);
    position:absolute;
    top:0;
    left:0;
    display:none;
    padding:10px 0 10px 15px;
    text-align:left;
    width:96%;
    color:#999;
    background:#fff;
    font-family:Oswald, sans-serif;
    font-weight:400;
    text-transform:uppercase;
    font-size:16px;
    line-height:28px
}
.select-container:after {
    content:url(images/arrow.png);
    top:8px;
    right:20px;
    position:absolute
}
.mobileNav, .sliderWrapper {
    display:none
}
#slider li {
    position:relative!important
}
.flexslider {
    max-height:415px
}
.flex-direction-nav a {
    top:-260px;
    height:50px
}
.flexslider li, .flexslider ul {
    margin:0
}
#carousel .slides {
    width: 700px!important;
/*    width: 467px!important;*/
/*     width: 839px!important;*/
    /* width: 689px!important;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
#carousel .slides img {
/*	max-width: 100%!important;
    cursor: pointer;
    display: block;
    height: 121px;*/
    max-width: 100%!important;
    cursor: pointer;
    display: block;
    height: 101px;
}
#carousel .slides li.carousel-info {
    width:266px!important;
    opacity:.65;
    cursor:pointer;
    -webkit-transition:all 120ms ease-in;
    -moz-transition:all 120ms ease-in;
    transition:all 120ms ease-in;
    margin-bottom:0;
    margin-right:9px;
    margin-left:9px
}
#carousel .slides li:hover {
    /*opacity:.8*/
}
.flex-active-slide, .flex-active-slide:hover {
    opacity:1!important
}
.flex-active-slide .navDescription {
    background:#d74340!important
}
#carousel {
    position:relative;
    z-index:80
}
.whiteTop {
    position:absolute;
    bottom:0;
    z-index:999;
    background:#fff;
    height:20px;
    width:980px
}
.whiteTop2 {
    position:absolute;
    bottom:0;
    z-index:999;
    display:none;
    background:#fff;
    height:20px;
    width:790px
}
#carousel h3 {
    font-weight:400;
    border-bottom:1px solid #d4d4d4;
    line-height:40px;
    margin:0;
    padding:8px 18px
}
.flex-active-slide h3 {
    background:#262729;
    color:#fff!important;
    border-bottom:none!important
}
#carousel p {
    color: #8c8c8c;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-bottom: 2px;
    margin-top: 2px;
}
.flex-active-slide p {
    color:black!important;
}
.navDescription {
    padding-bottom:0
}
header .children, header .children .li {
    margin:0!important
}
.slidesDescription {
    position:absolute;
    bottom: 25%;
    padding: 15px;
    background: url(descriptionBg.png);
    left: 0%;
}
.slidesDescription h2 {
    font-size:2.3em;
    color:#fff;
    margin:0 0 20px;
    display:block
}
.slidesDescription span {
    font-size:1.05em;
    display:block;
    margin-bottom:20px;
    text-shadow:1px 1px 1px rgba(0, 0, 0, .35)
}
.slidesDescription .button-big {
    display:block;
    margin:0;
    float:left;
    -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, .35);
    -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, .35);
    box-shadow:1px 1px 1px rgba(0, 0, 0, .35);
    text-shadow:-1px -1px 1px rgba(0, 0, 0, .25)
}
.button-big, .button-small, .button-small-theme {
    color:#fff!important;
    word-spacing:.25em;
    font-family:Oswald, sans-serif;
    text-transform:none!important;
    line-height:22px;
    padding:12px 13px 11px;
    text-align:center;
    display:inline-block;
    margin-top:5px;
    margin-bottom:18px;
    text-decoration:none
}
.pageInfo {
    padding:20px 0
}
.pageInfo h1 {
    text-transform:uppercase;
    color:#fff;
    font-family:Oswald, sans-serif;
    font-size:28px;
    margin:0;
    text-shadow:none
}
.pageContentWrapper {
    padding:30px 0
}
.pageContent {
    background:#fff;
    padding:25px;
    border:1px solid #cdced0;
    margin-bottom:30px
}
/*.breadcrumb {
    text-align:right;
    float:right;
    text-transform:uppercase;
    color:#fff;
    font-family:Oswald, sans-serif;
    font-size:13px;
    margin-top:15px
}*/
/*.breadcrumb a {
    padding:0 17px 0 5px;
    text-decoration:none;
    background:url(images/breadcrumbArrow.png) right 5px no-repeat;
    opacity:.6;
    -webkit-transition:all 60ms ease-in;
    -moz-transition:all 60ms ease-in;
    transition:all 60ms ease-in
}
.breadcrumb a:hover {
    color:#fff
}
.breadcrumb span {
    background:rgba(0, 0, 0, .1);
    padding:5px 10px;
    margin-left:10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px
}*/
.single .singleInfo {
    padding-bottom:10px!important;
    margin-bottom:0
}
.singleInfo {
    background:url(images/singleBg.png) bottom left no-repeat #262729;
    padding:20px
}
.newsPostList .singleInfo {
    padding:20px 20px 25px
}
.singleThumb img {
    display:block;
    margin-bottom:15px
}
.singleMeta {
    padding:10px 10px 0;
    margin-bottom:20px
}
.singleMeta .title a {
    text-decoration:none;
    color:inherit
}
.singleMeta span {
    color:#939393;
    font-family:Oswald, sans-serif;
    font-size:16px;
    float:left;
    text-transform:uppercase;
    margin-top:12px;
    line-height:27px
}
.singleMeta span a {
    color:#fff
}
.excerpt, .singleQuote {
    padding:20px 10px 0;
    border-top:1px solid rgba(255, 255, 255, .2);
    color:#b4b4b5;
    line-height:24px
}
.excerpt p {
    line-height:25px
}
.singleInfo h1 {
    color:#fff;
    font-family:Oswald, sans-serif;
    font-size:34px;
    margin:0;
    float:left;
    width:100%;
    text-shadow:none
}
.single-post_trainers .singleInfo h1 {
    width:inherit
}
.singleInfo a {
    margin:7px 0 0
}
.singleContact {
    float:right
}
.pagination li {
    float:left;
    margin-right:10px
}

ol.flex-control-nav.flex-control-paging {
    display:none
}
@import url(app.css);
@import url(http://fonts.googleapis.com/css?family=Monda:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.headline {
    display:block;
    margin:10px 0 25px;
    border-bottom:1px dotted #e4e9f0
}
.headline h2, .headline h3, .headline h4 {
    color:#585f69;
    margin:0 0 -2px;
    padding-bottom:5px;
    display:inline-block;
    border-bottom:2px solid #72c02c
}
.headline h2 {
    font-size:23px
}
.headline-md h2 {
    font-size:21px
}
.headline-md {
    margin-bottom:15px
}
.purchase {
    padding:30px 0;
    margin-bottom:30px;
    box-shadow:inset 0 0 4px #eee;
    background:url(../img/breadcrumbs.png)
}
.purchase p {
    margin-bottom:0
}
.purchase span {
    color:#666;
    display:block;
    font-size:28px;
    font-weight:200;
    line-height:35px;
    margin-bottom:12px;
    font-family:'Open Sans', sans-serif
}
.purchase a.btn-buy {
    color:#fff;
    font-size:16px;
    cursor:pointer;
    margin-top:22px;
    font-weight:700;
    background:#72c02c;
    display:inline-block;
    text-decoration:none;
    padding:12px 28px 9px;
    text-transform:uppercase;
    text-shadow:0 1px 0 #51a00b
}
.purchase a.btn-buy:hover {
    color:#fff;
    background:#68af28;
    text-decoration:none;
    box-shadow:0 0 5px #c0c2c1
}
.service {
    overflow:hidden;
    margin-bottom:50px;
    padding:15px 15px 10px
}
.service:hover {
    background:#fcfcfc;
    box-shadow:0 0 5px #ddd;
    -webkit-transition:box-shadow .2s ease-in-out;
    -moz-transition:box-shadow .2s ease-in-out;
    -o-transition:box-shadow .2s ease-in-out;
    transition:box-shadow .2s ease-in-out
}
.service:hover i {
    color:#656565
}
.service .desc {
    padding:0 15px;
    overflow:hidden
}
.service .desc h4 {
    font-size:22px;
    line-height:25px
}
.service .service-icon {
    float:left;
    padding:10px;
    color:#72c02c;
    font-size:45px;
    text-align:center;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
.service .service-icon.icon-cogs {
    font-size:37px
}
.service .service-icon.icon-plane {
    font-size:43px
}
.recent-work a {
    text-align:center;
    background:#fcfcfc;
    display:inline-block
}
.recent-work a:hover {
    text-decoration:none
}
.recent-work a:hover strong {
    color:#555
}
.recent-work em.overflow-hidden {
    display:block
}
.recent-work a span {
    display:block;
    padding:10px;
    border-bottom:solid 2px #eee
}
.recent-work a strong {
    color:#555;
    display:block
}
.recent-work a i {
    color:#777
}
.recent-work a img {
    -webkit-transition:all .8s ease-in-out;
    -moz-transition:all .8s ease-in-out;
    -o-transition:all .8s ease-in-out;
    -ms-transition:all .8s ease-in-out;
    transition:all .8s ease-in-out
}
.recent-work a:hover img {
    opacity:.8;
    -webkit-transform:scale(1.2) rotate(3deg);
    -moz-transform:scale(1.2) rotate(3deg);
    -o-transform:scale(1) rotate(3deg);
    -ms-transform:scale(1.2) rotate(3deg);
    transform:scale(1.2) rotate(3deg)
}
.recent-work a:hover span {
    border-bottom:solid 2px #72c02c;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .3s ease-in-out
}
blockquote p {
    font-size:16px;
    font-weight:200
}
blockquote:hover {
    border-left-color:#72c02c;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
.hero {
    padding:18px;
    margin:20px 0;
    color:#566c8a;
    font-size:16px;
    background:#fcfcfc;
    border-left:4px solid #94c564;
    font-family:'Open Sans', sans-serif
}
.hero h1, .hero p {
    text-shadow:1px 1px 0 #fff
}
.hero-unify p {
    font-size:13px;
    line-height:20px
}
.work {
    margin-top:6px
}
.work .details {
    padding:10px
}
.work .caption {
    display:block;
    padding-top:5px;
    color:#585f69!important;
    font-size:18px!important
}
.work .caption:hover {
    cursor:pointer;
    color:#444!important;
    text-decoration:underline
}
.footer {
    color:#dadada;
    padding:20px 0 30px
}
.footer.margin-top-0 {
    margin-top:0
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5 {
    text-shadow:none;
    font-weight:400!important
}
.footer p {
    color:#dadada
}
.footer a:hover {
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
.footer h2, .footer h3, .footer h4 {
    color:#e4e4e4;
    background:0;
    text-shadow:none
}
.footer .footer-subsribe {
    width:85%
}
.footer .blog-list {
    margin:0;
    padding:0;
    color:#dadada;
    list-style:none
}
.footer .blog-list li {
    padding:0;
    margin-bottom:7px
}
.footer .blog-list li span {
    color:#818488
}
.footer .dl-horizontal, .footer .dl-horizontal:hover {
    border:none!important;
    background:none!important
}
.footer .dl-horizontal a {
    color:#dadada
}
.footer .dl-horizontal a:hover {
    color:#a8f85f!important
}
.footer .dl-horizontal img {
    border-color:#888!important
}
.copyright {
    font-size:12px;
    padding:11px 0 7px;
    background:#3e4753;
    border-top:solid 1px #777
}
.copyright p {
    color:#dadada
}
.copyright p.copyright-space {
    margin-top:12px
}
.copyright a {
    margin:0 5px;
    color:#72c02c
}
.copyright a:hover {
    color:#a8f85f
}
a.thumbnail {
    padding:0;
    border:0;
    margin-bottom:15px
}
.thumbnail-style {
    padding:5px;
    margin-bottom:20px
}
.thumbnail-style:hover {
    box-shadow:0 0 8px #ddd;
    -webkit-transition:box-shadow .2s ease-in-out;
    -moz-transition:box-shadow .2s ease-in-out;
    -o-transition:box-shadow .2s ease-in-out;
    transition:box-shadow .2s ease-in-out
}
.thumbnail-style h3 {
    margin:5px 0 0
}
.thumbnail-style h3 a {
    font-size:20px
}
.thumbnail-style h3 a:hover {
    color:#72c02c;
    text-decoration:none
}
.thumbnail-style .thumbnail-img {
    position:relative;
    margin-bottom:10px
}
.thumbnail-style a.btn-more {
    right:-10px;
    bottom:10px;
    color:#fff;
    padding:1px 6px;
    position:absolute;
    background:#72c02c;
    display:inline-block
}
.thumbnail-style a.btn-more:hover {
    text-decoration:none;
    box-shadow:0 0 0 2px #377500
}
.thumbnail-style:hover a.btn-more {
    right:10px
}
.thumbnail-kenburn img {
    left:10px;
    margin-left:-10px;
    position:relative;
    -webkit-transition:all .8s ease-in-out;
    -moz-transition:all .8s ease-in-out;
    -o-transition:all .8s ease-in-out;
    -ms-transition:all .8s ease-in-out;
    transition:all .8s ease-in-out
}
.thumbnail-kenburn:hover img {
    -webkit-transform:scale(1.2) rotate(2deg);
    -moz-transform:scale(1.2) rotate(2deg);
    -o-transform:scale(1.2) rotate(2deg);
    -ms-transform:scale(1.2) rotate(2deg);
    transform:scale(1.2) rotate(2deg)
}
.servive-block .servive-block-in {
    padding:20px 30px;
    text-align:center;
    margin-bottom:20px;
    background:#fafafa;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
.servive-block .servive-block-in:hover {
    box-shadow:0 0 8px #ddd
}
.servive-block .servive-block-in h4 {
    line-height:25px
}
.servive-block .servive-block-in h4 a:hover {
    color:#72c02c;
    text-decoration:none
}
.servive-block .servive-block-in:hover h4, .servive-block .servive-block-in:hover i {
    color:#72c02c
}
.servive-block .servive-block-in i {
    color:#565656;
    font-size:40px;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
.servive-block .servive-block-red {
    background:#e74c3c
}
.servive-block .servive-block-sea {
    background:#1abc9c
}
.servive-block .servive-block-blue {
    background:#3498db
}
.servive-block .servive-block-grey {
    background:#95a5a6
}
.servive-block .servive-block-yellow {
    background:#f1c40f
}
.servive-block .servive-block-orange {
    background:#e67e22
}
.servive-block .servive-block-green {
    background:#2ecc71
}
.servive-block .servive-block-colored h4, .servive-block .servive-block-colored i, .servive-block .servive-block-colored p, .servive-block .servive-block-colored:hover h4, .servive-block .servive-block-colored:hover i {
    color:#fff
}
.servive-block .servive-block-colored:hover {
    opacity:.8;
    box-shadow:none
}
.service-alternative .service:hover {
    background:#76ca2c;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
.service-alternative .service:hover h4, .service-alternative .service:hover i, .service-alternative .service:hover p {
    color:#fff
}
.service-v1 h2 {
    margin:15px 0;
    font-size:20px;
    line-height:28px
}
.service-v1 p {
    text-align:justify
}
.posts .dl-horizontal {
    margin-bottom:0;
    overflow:hidden
}
.posts .dl-horizontal dt {
    width:60px;
    float:left
}
.posts .dl-horizontal dt img {
    width:60px;
    height:60px;
    padding:2px;
    margin-top:2px;
    border:1px solid #ddd
}
.posts .dl-horizontal dd {
    margin-left:70px
}
.posts .dl-horizontal dd p {
    margin:0
}
.posts .dl-horizontal dd a {
    font-size:14px;
    line-height:16px!important
}
.posts .dl-horizontal dd a:hover {
    color:#72c02c;
    text-decoration:none
}
.posts .dl-horizontal:hover dd a, .posts .dl-horizontal:hover dt img {
    color:#72c02c;
    border-color:#72c02c!important;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
/*.breadcrumbs {
    padding:10px 0 6px;
    box-shadow:inset 0 0 4px #eee;
    background:url(../img/breadcrumbs.png)
}*/
/*.breadcrumbs h1 {
    color:#686868;
    font-size:26px;
    margin-top:12px
}
.breadcrumb {
    top:9px;
    padding-right:0;
    background:0;
    position:relative
}
.breadcrumb a {
    color:#777
}
.breadcrumb li a:hover, .breadcrumb li.active {
    color:#72c02c;
    text-decoration:none
}*/
.pagination li a {
    color:#777;
    padding:5px 15px
}
.testimonials {
    margin-bottom:10px
}
.testimonials .testimonial-info {
    color:#72c02c;
    font-size:16px;
    padding:0 15px;
    margin-top:18px
}
.testimonials .testimonial-info span {
    top:3px;
    position:relative
}
.testimonials .testimonial-info em {
    color:#777;
    display:block;
    font-size:13px
}
.testimonials .testimonial-info img {
    width:60px;
    float:left;
    height:60px;
    padding:2px;
    margin-right:15px;
    border:1px solid #ccc;
    border-radius:50%!important
}
.testimonials .testimonial-author {
    overflow:hidden
}
.testimonials .carousel-arrow {
    top:-65px;
    position:relative
}
.testimonials .carousel-arrow i {
    color:#777;
    font-size:20px;
    padding:2px 8px;
    background:#fafafa
}
.testimonials .carousel-arrow i:hover {
    color:#fff;
    background:#72c02c
}
.testimonials .carousel-control {
    opacity:1;
    width:100%;
    text-align:right;
    text-shadow:none;
    position:absolute
}
.testimonials .carousel-control.left {
    right:27px;
    left:auto
}
.testimonials .carousel-control.right {
    right:0
}
.testimonials.testimonials-v1 .item p {
    padding:15px;
    font-size:14px;
    font-style:italic;
    position:relative;
    background:#fafafa
}
.testimonials.testimonials-v1 .item p:after, .testimonials.testimonials-v1 .item p:before {
    width:0;
    height:0;
    left:80px;
    content:" ";
    bottom:-20px;
    display:block;
    position:absolute
}
.testimonials.testimonials-v1 .item p:after {
    border-top:22px solid #fafafa;
    border-left:0 solid transparent;
    border-right:22px solid transparent;
    border-left-style:inset;
    border-right-style:inset
}
.testimonials.testimonials-v2 .testimonial-info {
    padding:0 20px
}
.testimonials.testimonials-v2 p {
    padding:15px;
    font-size:14px;
    font-style:italic;
    background:#fafafa
}
.testimonials.testimonials-v2 .carousel-arrow {
    top:-55px
}
.testimonials.testimonials-v2 .item p:after, .testimonials.testimonials-v2 .item p:before {
    width:0;
    height:0;
    left:8%;
    content:" ";
    bottom:45px;
    display:block;
    position:absolute
}
.testimonials.testimonials-v2 .item p:after {
    border-top:20px solid #fafafa;
    border-left:25px solid transparent;
    border-right:0 solid transparent;
    border-left-style:inset;
    border-right-style:inset
}
.tab-v1 .nav-tabs {
    border:0;
    background:0;
    border-bottom:solid 2px #72c02c
}
.tab-v1 .nav-tabs a {
    font-size:14px;
    padding:5px 15px
}
.tab-v1 .nav-tabs>.active>a, .tab-v1 .nav-tabs>.active>a:focus, .tab-v1 .nav-tabs>.active>a:hover {
    color:#fff;
    border:0;
    background:#72c02c
}
.tab-v1 .nav-tabs>li>a {
    border:0
}
.tab-v1 .nav-tabs>li>a:hover {
    color:#fff;
    background:#72c02c
}
.tab-v1 .tab-content {
    padding:10px 0
}
.tab-v1 .tab-content img {
    margin-top:4px;
    margin-bottom:15px
}
.tab-v1 .tab-content img.img-tab-space {
    margin-top:7px
}
.tab-v2 .nav-tabs {
    border-bottom:0
}
.tab-v2 .nav-tabs li a {
    padding:9px 16px;
    background:0;
    border:0
}
.tab-v2 .nav-tabs li.active a {
    background:#fff;
    padding:7px 15px 9px;
    border:1px solid #eee;
    border-top:solid 2px #72c02c;
    border-bottom:none!important
}
.tab-v2 .tab-content {
    padding:10px 16px;
    border:1px solid #eee
}
.tab-v3 .nav-pills li a {
    color:#777;
    font-size:17px;
    padding:4px 8px;
    margin-bottom:3px;
    background:#fafafa;
    border:1px solid #eee
}
.tab-v3 .nav-pills li a:hover, .tab-v3 .nav-pills li.active a {
    color:#fff;
    background:#72c02c;
    border:1px solid #68af28
}
.tab-v3 .nav-pills li i {
    width:1.25em;
    margin-right:5px;
    text-align:center;
    display:inline-block
}
.tab-v3 .tab-content {
    padding:15px;
    background:#fafafa;
    border:1px solid #eee
}
.acc-v1 .panel-heading {
    padding:0;
    box-shadow:none
}
.acc-v1 .panel-heading a {
    display:block;
    font-size:14px;
    padding:5px 15px;
    background:#fefefe
}
.acc-icon a.accordion-toggle i {
    color:#585f69;
    margin-right:8px
}
.acc-icon a.accordion-toggle:hover i {
    color:#39414c
}
.carousel-v1 .carousel-caption {
    left:0;
    right:0;
    bottom:0;
    padding:7px 15px;
    background:rgba(0, 0, 0, .7)
}
.carousel-v1 .carousel-caption p {
    color:#fff;
    margin-bottom:0
}
.carousel-v1 .carousel-arrow a.carousel-control {
    opacity:1;
    font-size:30px;
    height:inherit;
    width:inherit;
    background:0;
    text-shadow:none;
    position:inherit
}
.carousel-v1 .carousel-arrow a i {
    top:50%;
    opacity:.6;
    background:#000;
    margin-top:-18px;
    padding:2px 12px;
    position:absolute
}
.carousel-v1 .carousel-arrow a i:hover {
    opacity:.8
}
.carousel-v1 .carousel-arrow a.left i {
    left:0
}
.carousel-v1 .carousel-arrow a.right i {
    right:0
}
.team ul.team-socail {
    text-align:right
}
.team ul.team-socail li {
    padding:0!important;
    margin:0!important
}
.team ul.team-socail li a, .team ul.team-socail li a:hover {
    text-decoration:none
}
.team ul.team-socail li i {
    color:#aaa;
    padding:3px;
    min-width:30px;
    font-size:20px;
    text-align:center;
    background:#f7f7f7;
    display:inline-block
}
.team ul.team-socail li i:hover {
    color:#fff;
    background:#72c02c;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.team .thumbnail-style {
    padding:12px
}
.team .thumbnail-style small {
    display:block;
    font-size:12px
}
.team .thumbnail-style h3 {
    margin-bottom:10px
}
.team .thumbnail-style:hover h3 a {
    color:#72c02c!important
}
.gallery-page .thumbnail, .gallery-page .thumbnail:hover {
    padding:0;
    border:0;
    box-shadow:none
}
.gallery-page .thumbnails {
    margin-bottom:6px
}
.privacy a {
    text-decoration:underline
}
.privacy a:hover {
    color:#72c02c;
    text-decoration:none
}
.portfolio-item h2 {
    color:#555;
    font-size:24px;
    margin:0 0 15px
}
.portfolio-item li {
    padding:3px 0
}
.portfolio-item p a {
    text-decoration:underline
}
.portfolio-item p a:hover {
    text-decoration:none
}
.portfolio-item1 ul {
    margin:10px 0 20px
}
.portfolio-item1 li {
    font-size:16px;
    margin-bottom:3px
}
.portfolio-item1 li i {
    font-size:18px;
    margin-right:4px
}
ul.blog-tags li {
    display:inline-block
}
ul.blog-tags a {
    font-size:13px;
    padding:2px 7px;
    background:#f7f7f7;
    margin:0 3px 6px 0;
    display:inline-block
}
ul.blog-tags a i {
    color:#666
}
ul.blog-tags a:hover {
    background:#72c02c
}
ul.blog-tags a:hover, ul.blog-tags a:hover i {
    color:#fff!important;
    text-decoration:none;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.blog-photos li {
    display:inline
}
.blog-photos li img {
    opacity:.6;
    width:58px;
    height:58px;
    margin:0 2px 8px
}
.blog-photos li img:hover {
    opacity:1;
    box-shadow:0 0 0 2px #72c02c
}
.blog-twitter .blog-twitter-inner {
    padding:10px;
    position:relative;
    background:#fafafa;
    margin-bottom:15px;
    border-top:solid 2px #eee
}
.blog-twitter .blog-twitter-inner, .blog-twitter .blog-twitter-inner:after, .blog-twitter .blog-twitter-inner:before {
    transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out
}
.blog-twitter .blog-twitter-inner:after, .blog-twitter .blog-twitter-inner:before {
    width:0;
    height:0;
    right:0;
    bottom:0;
    content:" ";
    display:block;
    position:absolute
}
.blog-twitter .blog-twitter-inner:after {
    border-top:15px solid #f0f0f0;
    border-right:15px solid transparent;
    border-left:0 solid transparent;
    border-left-style:inset;
    border-right-style:inset
}
.blog-twitter .blog-twitter-inner:before {
    border-bottom:15px solid #fff;
    border-right:0 solid transparent;
    border-left:15px solid transparent;
    border-left-style:inset;
    border-bottom-style:inset
}
.blog-twitter .blog-twitter-inner:hover {
    border-color:#72c02c
}
.blog-twitter .blog-twitter-inner:hover:after {
    border-top-color:#72c02c
}
.blog-twitter .blog-twitter-inner span {
    color:#777;
    display:block;
    font-size:11px
}
.blog-twitter .blog-twitter-inner a {
    color:#72c02c;
    text-decoration:none
}
.blog-twitter .blog-twitter-inner a:hover {
    text-decoration:underline
}
.blog-twitter .blog-twitter-inner i.icon-twitter {
    top:2px;
    color:#bbb;
    font-size:18px;
    position:relative
}
.who li {
    margin-bottom:6px
}
.who li i {
    top:2px;
    color:#72c02c;
    font-size:18px;
    margin-right:8px;
    position:relative
}
.who li:hover a, .who li:hover i {
    color:#777
}
.who li:hover a:hover {
    text-decoration:none
}
.sidebar-nav-v1 li {
    padding:0
}
.sidebar-nav-v1 li a {
    display:block;
    padding:8px 30px 8px 10px
}
.sidebar-nav-v1 li a:hover {
    text-decoration:none
}
.sidebar-nav-v1 li.active, .sidebar-nav-v1 li.active:hover {
    background:#f5f5f5;
    border-color:#ddd
}
.sidebar-nav-v1 li.active a {
    color:#555
}
.sidebar-nav-v1 span.badge {
    margin-top:10px;
    margin-right:10px
}
.sidebar-nav-v1 span.badge-green {
    background:#2ecc71
}
.sidebar-nav-v1 span.badge-red {
    background:#e74c3c
}
.sidebar-nav-v1 span.badge-blue {
    background:#3498db
}
.sidebar-nav-v1 span.badge-sea {
    background:#1abc9c
}
.tag-box {
    padding:20px;
    margin-bottom:30px
}
.tag-box h2 {
    font-size:20px;
    line-height:25px
}
.tag-box p {
    margin-bottom:0
}
.tag-box-v1 {
    border:1px solid #eee;
    border-top:solid 2px #72c02c
}
.tag-box-v2 {
    background:#fafafa;
    border:1px solid #eee;
    border-left:solid 2px #72c02c
}
.tag-box-v3 {
    border:2px solid #eee
}
.tag-box-v4 {
    border:1px dashed #bbb
}
.tag-box-v5 {
    margin:20px 0;
    text-align:center;
    border:1px dashed #ccc
}
.tag-box-v5 span {
    color:#555;
    font-size:28px;
    margin-bottom:0
}
.tag-box-v6 {
    background:#fafafa;
    border:1px solid #eee
}
.tag-box-v7 {
    border:1px solid #eee;
    border-bottom:solid 2px #72c02c
}
.panel .table {
    margin-bottom:0
}
.panel-blue {
    border-color:#3498db
}
.panel-blue>.panel-heading {
    color:#fff;
    background:#3498db
}
.panel-red {
    border-color:#e74c3c
}
.panel-red>.panel-heading {
    color:#fff;
    background:#e74c3c
}
.panel-green {
    border-color:#2ecc71
}
.panel-green>.panel-heading {
    color:#fff;
    background:#2ecc71
}
.panel-sea {
    border-color:#1abc9c
}
.panel-sea>.panel-heading {
    color:#fff;
    background:#1abc9c
}
.panel-orange {
    border-color:#e67e22
}
.panel-orange>.panel-heading {
    color:#fff;
    background:#e67e22
}
.panel-yellow {
    border-color:#f1c40f
}
.panel-yellow>.panel-heading {
    color:#fff;
    background:#f1c40f
}
.panel-grey {
    border-color:#95a5a6
}
.panel-grey>.panel-heading {
    color:#fff;
    background:#95a5a6
}
.fullwidthbanner-container.slider-promo {
    max-height:460px!important
}
.slider-promo-info-bg {
    padding:25px 20px 20px;
    background:url(../img/bg-black.png)
}
.slider-promo-info span.big-size {
    color:#fff;
    display:block;
    font-size:30px;
    margin-bottom:25px;
    text-shadow:0!important
}
.slider-promo-info p {
    color:#fff;
    font-size:16px;
    margin-bottom:0
}
.promo-box {
    padding:20px;
    margin:25px 0 20px;
    text-align:center
}
.promo-box i {
    display:block;
    font-size:50px
}
.promo-box p {
    font-size:14px;
    margin-bottom:0
}
.promo-box strong, .promo-box strong a {
    color:#555;
    font-size:20px;
    display:block;
    margin:20px 0 15px;
    font-weight:200
}
.promo-box:hover strong, .promo-box:hover strong a {
    color:#e74c3c
}
.promo-service {
    margin-bottom:20px
}
.promo-service a.btn-u {
    margin:0 20px 10px 0
}
.title-box {
    margin:20px 0;
    padding:40px 0;
    font-size:16px;
    text-align:center;
    border-bottom:solid 1px #eee
}
.title-box .title-box-text {
    color:#555;
    display:block;
    font-size:35px;
    font-weight:200
}
.block-blockquote {
    margin:20px 0;
    text-align:center;
    border:1px dashed #ccc
}
.block-blockquote-inner {
    padding:15px
}
.block-blockquote p {
    font-size:26px;
    margin-bottom:0
}
.info-blocks {
    margin-bottom:15px
}
.info-blocks:hover i.icon-info-blocks {
    color:#72c02c;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.info-blocks i.icon-info-blocks {
    float:left;
    color:#777;
    font-size:40px;
    margin-top:5px;
    min-width:50px;
    text-align:center
}
.info-blocks .info-blocks-in {
    padding:0 10px;
    overflow:hidden
}
.info-blocks .info-blocks-in h3 {
    color:#555;
    font-size:20px;
    line-height:28px
}
.info-blocks .info-blocks-in p {
    font-size:12px
}
.header .navbar-default {
    margin:0
}
.footer a, a {
    color:#3cadb1
}
.footer a:hover, a:hover {
    text-decoration:none;
    color:#005580
}
body p {
    /*line-height:.8;*/
    color: black;
}

.home #about {
    padding-top:40px
}
#toggle {
    background:#e7e3d8;
    padding:0;
    border-top:1px solid #dad6d0
}
#toggle .container {
    padding-top:30px;
    padding-bottom:30px
}
#reasons {
    border-top:1px solid #ddd;
    padding:40px 0 20px
}
#reasons .fa-stack {
    font-size:3.5em
}
#reasons .fa-inverse {
    color:#e7e3d8
}
#reasons p {
    font-size:1em;
    line-height:1.4
}
#reasons img {
    margin-bottom:20px
}
#testimonials {
    padding:20px 0
}
#testimonials .flexslider {
    background:none!important
}
#testimonials h3 {
    margin-bottom:45px
}
#testimonials .flexslider.home {
    margin-top:0
}
#testimonials .flexslider.home .slides>li {
    background:none!important
}
#testimonials .flexslider .flex-viewport {
    margin-top:0
}
#ftp, #tour-callout {
    padding:40px 0 20px
}
.footer {
    margin-top:0;
    background:#1a130f
}
ul#mediaicon {
    padding:5px 0 30px;
    height:30px;
    margin-left:0
}
ul#socialicon {
    margin-top:15px;
    padding-left:0
}
ul#mediaicon li, ul#socialicon li {
    list-style:none;
    float:left
}
ul#socialicon li {
    margin-right:2px
}
ul#mediaicon li {
    margin-left:2px
}
ul#mediaicon li.first {
    margin-left:4px
}
.fc-webicon {
    display:inline-block;
    width:45px;
    height:45px;
    text-indent:-999em;
    text-align:left;
    margin-bottom:5px;
    margin-right:4px;
    background:url(social-media-2.png) 0 0/315px 90px no-repeat #333
}
.fc-webicon.facebook {
    background-position:0 0
}
.fc-webicon.facebook:hover {
    background-position:0 -45px
}
.fc-webicon.twitter {
    background-position:-45px 0
}
.fc-webicon.twitter:hover {
    background-position:-45px -45px
}
.fc-webicon.yelp {
    background-position:-90px 0
}
.fc-webicon.yelp:hover {
    background-position:-90px -45px
}
.fc-webicon.youtube {
    background-position:-135px 0
}
.fc-webicon.youtube:hover {
    background-position:-135px -45px
}
.fc-webicon.tripadvisor {
    background-position:-180px 0
}
.fc-webicon.tripadvisor:hover {
    background-position:-180px -45px
}
.fc-webicon.pinterest {
    background-position:-225px 0
}
.fc-webicon.pinterest:hover {
    background-position:-225px -45px
}
.fc-webicon.instagram {
    background-position:-270px 0
}
.fc-webicon.instagram:hover {
    background-position:-270px -45px
}
.fa-stack-2x {
    color:#333
}
.nav, ul#zerve {
    margin:-1px 0 0;
    padding:0;
    list-style:none
}
ul#zerve li a {
    font-size:1em
}
.nav li, ul#zerve li {
    padding:0;
    margin:0;
    display:block;
    float:left
}
.nav li a {
    font-size:1.6em;
    color:#535559;
    text-shadow:2px 2px 1px #f8f5ef;
    padding:25px 15px;
    text-transform:uppercase
}
.slidesDescription {
    border-left:5px solid #3cadb1
}
.slidesDescription h2 {
    margin-bottom:10px
}
.slidesDescription h2 a {
    color:#fff
}
#carousel h3 {
    font-size:1.05em;
    color:#333
}
#carousel .navDescription ul, #carousel p {
    line-height:1.6
}
#carousel .navDescription ul {
    padding:20px
}
.slidesDescription span {
    color:#fff
}
.flex-active-slide p, .flex-active-slide ul, .flex-active-slide .contenido1 {
    background: #eddaa0;
    color: #fff;
}
.flex-active-slide .tito{
	background: #999999;
    
}
.flex-active-slide .tito span{
    color: white;
}
.flex-active-slide .boton{
	float: left;
	width: 100%;
}

.boton a {
    padding: 11px 0px;
    float: left;
    width: 100%;
    background: #cc3300;
    color: white;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
border: 0px solid #000000;
}

.todo12{
	float: left;
	background: white;
	    margin-left: 10px;
}
.contenido1 b{

    color: black;
    font-size: 19px;
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;

}
.men li{
	    margin-right: 0px !important;
	/*opacity: 0.5;*/
}
.todo13 {
    /*float: left;
    width: 300px;
    padding: 10px;*/
    /*float: left;
    width: 224px;
    padding: 10px;*/
        float: left;
    width: 200px;
    padding: 10px;
}
.flex-active-slide .boton a{
	 padding: 11px 0px;
    float: left;
    width: 100%;
    background: #cc3300;
    color: white;
    text-align: center;

}
.flex-active-slide b{
    color: black;
    font-size: 17px;
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.flex-active-slide .todo13{
    /*float: left;
    width: 300px;
    padding: 10px;*/
/*    float: left;
    width: 224px;
    padding: 10px;**/
        float: left;
    width: 204px;
    padding: 10px;
}
.tito2{
	    float: left;
    padding: 0px 10px;
}
.dieter{
    float: left;
    background: #eddaa0;
}
.todouno{
	float: left;
	width: 100%;
	background: white;
}
.todo12 {
    float: left;
    background: white;
    border: 1px solid black;
}
#carousel .slides {
    margin: 0 auto 26px!important;
    background: #fafafa;
    border: 1px solid #ffffff;
        box-shadow: 1px 2px 9px 0px #eee;
}
#carousel, #ftp, #reasons, #tour-callout, .navbar.navbar-default {
    background:url(bgtexture_devsite1.png);
    border-bottom:1px solid #c2bda9
}
#carousel {
    border-bottom:0
}
.btn-default {
    background:#900;
    border:1px solid #660202;
    color:#fff
}
.btn-default:hover {
    background:#660202;
    border:1px solid #660202;
    color:#fff
}


#carousel .flex-active-slide h3 {
    text-shadow:none
}
.slidesDescription h2 a {
    text-shadow:3px 3px 1px #333
}

.bottom10 {
    margin-bottom:10px
}
.bottom20 {
    margin-bottom:20px
}
.bottom40 {
    margin-bottom:40px
}
.bottom60 {
    margin-bottom:60px
}

a {
    color:#3cadb1
}
a:hover {
    color:#e3544f
}
h3 a {
    color:#535559
}

h1 span {
    font-size:.3em;
    display:block
}
.h2, .h3 {
    display:block;
    background:#ddd3bf;
    padding:5px;
    font-family:rosewood-std-fill, "courier new", courier, georgia, serif
}
.single-tours h2 {
    font-size:1.44em
}
.page-id-521 h2 {
    font-size:1.6em
}
hr {
    margin-bottom:20px;
    border-bottom:5px dashed #bfbaa6
}
.sticky {
    position:fixed;
    top:0;
    width:100%;
    z-index:100
}
.header {
    border-bottom:0
}
.header .navbar-default {
    padding:0
}
div.inline {
    display:inline
}
#about {
    padding-bottom:60px
}
.page-template-page-why-us-php h5 {
    font-size:1.3em;
    padding-top:20px;
    margin-bottom:0
}
#logo {
    position:absolute;
    z-index:10;
    top:-52px;
    padding:17px 34px 17px 0
}
#logo img {
    width:80%
}
.tk-corner-store, .tk-cs {
    font-family:corner-store, georgia, serif
}
h3.tk-cs {
    font-size:2.5em;
    margin:-15px 0 30px
}
#about h1.tk-cs, #about h3.tk-cs {
    margin-top:0
}
#tour-callout {
    background:#f9f8f5;
    padding:45px 0 20px
}
#slider.flexslider .slides {
    -webkit-transition:.6s;
    transition:.6s;
    -webkit-transform:translate3d(-4308px, 0, 0);
    max-height:415px;
    overflow:hidden
}
#slider.flexslider .slides li {
    float:left;
    display:block;
    max-height:415px;
    height:318px;
    margin-bottom: 130px;
}
#slider.flexslider .slides li .container {
    display:block;
    position:inherit;
    z-index:35;
    margin-top:110px
}
#slider.flexslider .slides li .container .row {
    margin-left:0;
    margin-right:0
}
#slider.flexslider .slides li a.background {
    display:block;
    position:absolute;
    z-index:20;
    width:100%
}
#slider.flexslider .slides li .slidesDescription a.btn {
    display:inline-block
}
#carousel {
    margin-top: 36px !important;
    background: 0;
}

#home2 .slidesDescription {
    bottom:25%
}
#footer {
    color:#ddd3bf;
    letter-spacing:1px;
    font-family:rosewood-std-fill, "courier new", courier, georgia, serif;
    background:url(bg-footer.jpg) top left repeat-x #333;
    padding:0
}
#footer-column-1 div.pad, #footer-column-2 div.pad, #footer-column-3 div.pad, #footer-column-4 div.pad, #footer-column-5 div.pad {
    margin-top:-230px;
    padding:2px 0
}
#footer-column-4 div.pad.findus {
    margin-top:0
}
#footer-column-1, #footer-column-2, #footer-column-3, #footer-column-4, #footer-column-5 {
    padding-top:240px
}
.footer-col-line {
    border-right:1px dashed #666
}
#footer-column-1 {
    font-size:36px
}
#footer-column-1 span, #footer-column-5 span {
    display:block
}
#footer-column-1 a {
    color:#ddd3bf
}
#footer-column-1 a:hover {
    color:#fffef4
}
#fc1-1 {
    padding-top:17px;
    font-size:14px
}
#fc1-2 {
    letter-spacing:2px;
    line-height:40px
}
#fc1-3 {
    letter-spacing:0;
    font-size:20px;
    line-height:28px
}
#fc1-4 {
    line-height:38px;
    letter-spacing:3px
}
#fc2-1 {
    padding:15px 0 9px;
    font-size:18px;
    border-bottom:1px dashed #666;
    text-align:center
}
#fc2-1 a {
    color:#ddd3bf;
    border:0
}
#fc2-1 a:hover {
    color:#fffef4;
    border:0
}
#fc2-1 span {
    font-size:16px
}
#fc2-2 {
    color:gray;
    letter-spacing:2px;
    line-height:1.3;
    font-size:28px;
    text-align:center
}
#fc2-2 .tk-cs {
    line-height:1;
    display:block
}
#fc2-3 {
    padding-top:12px;
    text-align:center
}
#fc2-3, #fc2-4 {
    color:gray;
    text-transform:uppercase;
    font-family:abril-text, georgia, times, serif;
    font-size:10px;
    line-height:19px;
    letter-spacing:1px;
    font-weight:700
}
#fc3-skillet {
    color:#353535;
    margin:2px auto 0;
    height:152px;
    width:129px;
    background:url(http://castirondesign.com/images/footer-skillet-animation.gif) left center no-repeat
}
#fc3-skillet:hover {
    color:#ececec;
    background:url(http://castirondesign.com/images/footer-skillet-animation.gif) right center no-repeat
}
#fc3-1 {
    padding-top:62px;
    font-size:18px;
    -webkit-transform:rotate(-4deg);
    -moz-transform:rotate(-4deg)
}
#fc3-2 {
    line-height:28px;
    font-size:22px
}
#footer-column-4 {
    padding-left:30px
}
#fc4-1 {
    font-size:28px;
    -webkit-transform:rotate(-4deg);
    -moz-transform:rotate(-4deg);
    line-height:44px
}
.footer-periph-link a {
    font-family:abril-text, georgia, times, serif;
    font-weight:700;
    color:#999;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:2px;
    line-height:32px;
    border:0
}
.footer-periph-link a:hover {
    color:#ddd3bf
}
.fpl-underline {
    border-bottom:1px dashed #666
}
#footer-column-2 a p, #footer-column-5 a {
    color:#ddd3bf
}
#footer-column-2 a:hover p, #footer-column-5 a:hover {
    color:#fffef4
}
#footer-column-2 a p {
    line-height:1.1
}
#fc5-1 {
    font-size:28px;
    -webkit-transform:rotate(-4deg);
    -moz-transform:rotate(-4deg);
    line-height:44px
}
#fc5-2 {
    font-size:18px;
    padding-top:8px
}
#fc5-3 {
    font-size:21px;
    padding-top:8px
}
#fc5-4 {
    padding-top:14px;
    font-size:35px;
    letter-spacing:2px
}
.btn.btn-callout {
    border-radius:6px;
    background-color:#e3544f;
    color:#fff;
    text-shadow:0 1px rgba(0, 0, 0, .1);
    border:0;
    font-family:verdana;
    text-transform:uppercase;
    font-size:1.05em;
    letter-spacing:1px;
    padding:10px 12px
}
.btn.btn-callout:hover {
    background:#660202;
    -webkit-transition:all 500ms ease 0s;
    -moz-transition:all 500ms ease 0s;
    -ms-transition:all 500ms ease 0s;
    -o-transition:all 500ms ease 0s;
    transition:all 500ms ease 0s
}
.btn.btn-primary {
    border-radius: 6px;
    background-color: #e3544f;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, .1);
    border: 0;
    /* font-family: verdana; */
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: 2.5px;
    padding: 10px;
}
.btn.btn-primary:hover {
    background:#660202;
    -webkit-transition:all 500ms ease 0s;
    -moz-transition:all 500ms ease 0s;
    -ms-transition:all 500ms ease 0s;
    -o-transition:all 500ms ease 0s;
    transition:all 500ms ease 0s
}
.btn.btn-primary.btn-xl {
    padding:15px 24px;
    font-size:22px;
    line-height:1.5;
    border-radius:6px
}
#purchase {
    padding-top:20px;
    background:url(bgtexture_devsite1.png)
}
#purchase .tickets {
    font-size:.85em;
    text-align:center;
    margin-bottom:20px
}
#purchase .tickets h4 {
    text-shadow:none
}
#purchase .tickets h4 a {
    color:#535559
}
#purchase .tickets p {
    font-size:.9em
}
#purchase-footer {
    font-size:.85em;
    text-align:center;
    background:url(bg-footer.jpg) repeat-x bottom
}
#purchase-footer p {
    margin-bottom:0;
    padding:10px;
    color:#e7e3d8
}
#fakeheader {
    height:120px
}
.quickbar {
    color:#e7e3d8;
    font-size:.85em;
    background:url(bg-footer.jpg) repeat-x bottom;
    padding:0;
    text-transform:uppercase
}
.quickbar a {
    color:#e7e3d8
}
.quickbar ul {
    margin:0;
    padding:0
}
.quickbar ul li {
    padding:0 14px;
    line-height:2.3;
    margin:0;
    border-left:1px solid #1c2828;
    border-right:1px solid #514f4c;
    float:left
}
.quickbar ul li.menu-item a:hover {
    color:#e3544f
}
.quickbar ul li#tickets {
    padding:0;
    border:0
}
.quickbar ul li.last {
    border-right:0;
    border-right:1px solid #000
}
.quickbar ul li ul li {
    border:0
}
.quickbar ul li ul.dropdown-menu {
    background:#f9f8f5;
    border-radius:0;
    border-left:1px solid #dad6d0;
    border-bottom:1px solid #dad6d0;
    border-right:1px solid #dad6d0
}
.quickbar ul li ul.dropdown-menu li a {
    display:block;
    color:#535559;
    padding:10px 20px
}
.quickbar ul li ul.dropdown-menu li a:hover {
    background:#e3544f;
    color:#fff
}
.quickbar ul li ul.dropdown-menu li.giddemo {
    padding:4px
}
.quickbar ul li ul.dropdown-menu li.giddemo .col-md-3 {
    padding-left:2px;
    padding-right:2px
}
.quickbar ul li ul.dropdown-menu li.giddemo a {
    padding:0;
    background:#3cadb1
}
.quickbar ul li ul.dropdown-menu li.giddemo a:hover {
    background:#e3544f
}
.quickbar ul li ul.dropdown-menu li.giddemo h4 {
    margin:0;
    font-size:1.15em;
    padding:8px 12px;
    color:#fff;
    text-shadow:none;
    font-weight:400;
    text-align:center
}
.quickbar ul li ul.dropdown-menu li.giddemo #private-tours {
    padding:0 20px;
    background:url(bgtexture_devsite1.png);
    color:#535559;
    margin-top:4px
}
.quickbar ul li ul.dropdown-menu li.giddemo #private-tours a {
    display:inline-block;
    padding:0;
    background:0
}
.dropdown .mainnav:hover .dropdown-menu {
    display:block
}
.single-tours .quickbar ul li ul#secondary li {
    border:0;
    width:100%;
    padding:0
}
.single-tours .quickbar ul li ul.dropdown-menu#secondary {
    background:#f9f8f5;
    border-radius:0;
    border-left:1px solid #dad6d0;
    border-bottom:1px solid #dad6d0;
    border-right:1px solid #dad6d0
}
.single-tours .quickbar ul li ul.dropdown-menu#secondary li a {
    display:block;
    color:#535559;
    padding:10px 20px;
    border-right:0;
    width:100%
}
.single-tours .quickbar ul li ul.dropdown-menu#secondary .active a, .single-tours .quickbar ul li ul.dropdown-menu#secondary li a:hover {
    background:#e3544f;
    color:#fff
}
.single-tours .dropdown.mainnav:hover .dropdown-menu {
    display:block
}
.quickbar ul li ul#secondary li {
    border:0;
    width:100%;
    padding:0
}
.quickbar ul li ul.dropdown-menu#secondary {
    background:#f9f8f5;
    border-radius:0;
    border-left:1px solid #dad6d0;
    border-bottom:1px solid #dad6d0;
    border-right:1px solid #dad6d0
}
.quickbar ul li ul.dropdown-menu#secondary li a {
    display:block;
    color:#535559;
    padding:10px 20px;
    border-right:0;
    width:100%
}
.quickbar ul li ul.dropdown-menu#secondary .active a, .quickbar ul li ul.dropdown-menu#secondary li a:hover {
    background:#e3544f;
    color:#fff
}
.dropdown.mainnav:hover .dropdown-menu {
    display:block
}
.page-template-page-home2-php #logo img {
    width:80%
}
.page-template-page-home2-php #logo {
    top:-46px
}
.navbar #quick-info .nav li i {
    color:#e3544f
}
.navbar #quick-info .nav li a.active, .navbar #quick-info .nav li a:hover {
    background:url(bg-footer.jpg) repeat-x bottom;
    color:#fff;
    text-shadow:none
}
#map-gift {
    text-align:center
}
#map-gift p {
    font-size:.88em;
    padding:0 20px
}
div#callout {
    border:1px solid #ccc;
    border-width:0 1px 1px;
    margin-bottom:15px;
    padding:10px
}
.callout-text h2 a {
    color:#4077a0;
    font-size:.95em;
    background:url(library/css/review_stars.png) no-repeat left/140px 46px;
    width:auto;
    display:block;
    line-height:1.7;
    padding-left:135px;
    margin-left:-15px
}
.callout-row {
    background:url(library/css/callout_bg.jpg) bottom repeat-x #f2f2f2
}
.callout-row .callout-text {
    padding:0
}
.callout-text h2 {
    padding:0 0 10px;
    margin-bottom:0
}
.callout-text .table tr td {
    background:#e7e3d8;
    color:#333
}
.callout-text .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background:#fff
}
.callout-row .callout-text li a {
    display:block;
    text-indent:-9999px;
    background:url(library/css/gift_private_btn.png) no-repeat bottom
}
.callout-row .callout-text li a.giftcertificate_btn {
    background-size:378px 70px;
    height:35px;
    width:178px;
    background-position:left -36px
}
.callout-row .callout-text li a.giftcertificate_btn:hover {
    background-position:left top
}
.callout-row .callout-text li a.privategroutours_btn {
    background-size:378px 70px;
    height:35px;
    width:200px;
    background-position:right -36px
}
.callout-row .callout-text li a.privategroutours_btn:hover {
    background-position:right top
}
.callout-row .tour-buttons {
    margin-top:15px
}
.callout-row .tour-buttons.strip li {
    display:block;
    float:left
}
.callout-row .tour-buttons.strip li.gift-certificates {
    margin-right:8px
}
div.slideshow-container div.slideshow span.image-wrapper {
    /*top:0*/
}
div.content a, div.navigation a {
    text-decoration:none;
    color:#777
}
div.content a:active, div.content a:focus, div.content a:hover {
    text-decoration:underline
}
div.controls {
    margin-top:5px;
    height:23px
}
div.controls a {
    padding:5px
}
div.ss-controls {
    float:left
}
div.nav-controls {
    float:right
}
*/div.slideshow {
    width:680px
}
div.slideshow span.image-wrapper {
    display: block;
    position: absolute;
    top: -22px;
    left: 0;
}
div.slideshow a.advance-link:active, div.slideshow a.advance-link:hover, div.slideshow a.advance-link:visited {
    text-decoration:none
}
div.slideshow img {
    vertical-align:middle
}
div.download {
    float:right
}
div.caption-container {
    position: relative;
    clear: left;
    height: 55px;
    width: 485px;
    left: 20px;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
/*    opacity: .8;*/
    opacity: .6;
/*    bottom: 92px;*/
    bottom: 40px;
}
span.image-caption {
    display:block;
    position:absolute;
    width:auto;
    left:0;
    top: -42px;
/*    background: #777;*/
    background: #eae4e4;
}
div.caption {
    padding: 12px 17px;
    width: 257px;
/*    color: white;*/
    color: black;
}
div.image-title {
    font-weight:700;
    font-size:1.2em
}
div.image-desc {
    line-height:1.3em
}
ul.thumbs {
    clear: both;
    margin: 0 0 0 0px;
    padding: 0;
    font-size: 0;
    height: 0;
}
.single-tours ul.thumbs {
    margin-right:10px
}
ul.thumbs li {
    float: left;
    padding: 0;
    margin: 3px 4px 3px 0;
    list-style: none;
}
.single-tours ul.thumbs li {
    margin-right:4px
}
a.thumb {
    padding:2px;
    display:block;
    /*border:1px solid #ccc*/
}
ul.thumbs li.selected a.thumb {
    /*background:#000*/
}
a.thumb:focus {
    outline:0
}
ul.thumbs img {
    border: 0;
    display: block;
    width: 95px;
    height: 55px;
}
div.pagination {
    clear:both;
    font-size:0;
    height:0;
    margin:0
}
div.navigation div.top {
    margin-bottom:12px;
    height:11px
}
div.navigation div.bottom {
    margin-top:12px
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
    display:block;
    float:left;
    margin-right:2px;
    padding:4px 7px 2px;
    border:1px solid #ccc
}
div.pagination a:hover {
    background-color:#eee;
    text-decoration:none
}
div.pagination span.current {
    font-weight:700;
    background-color:#000;
    border-color:#000;
    color:#ddd
}
div.pagination span.ellipsis {
    border:0;
    padding:5px 0 3px 2px
}
.page-id-93 .thumbs {
    margin-bottom:20px
}
div.slideshow-container {
    height:370px;
    clear:both;
    position:relative;
    overflow:hidden;
    border: 0px solid #fff;
}
.slide_content {
    padding:5px 20px;
    margin:200px 0 38px 10px;
    background:#fff;
    width:342px;
    height:45px;
    filter:alpha(opacity=75);
    -moz-opacity:.75;
    opacity:.75
}
#gallery {
    height: 374px;
    overflow: hidden;
    margin-bottom: 8px;
    border: 1px solid #ddd;
}
.top {
    display:none
}
#pic_content #thumbs {
    height:130px;
    width:700px
}
#pic_content {
    float:left;
    padding:0 20px 0 0;
    width:700px
}
#pic_content ul.thumbs li {
    display:inline;
    float:left;
    padding-right:4px;
    margin:0;
    clear:none
}
#pic_content ul.thumbs li.last {
    padding-right:0
}
div.callout-image div.navigation div.top {
    height:0;
    margin-bottom:0
}
a.advance-link {
    display:block
}
#slideshow img {
    width:100%;
    overflow:hidden
}
#pageheader {
    border-bottom:1px solid #bfbaa6;
    background:#f3eedb;
    margin-bottom:40px
}
body.page-id-41 #pageheader {
    margin-bottom:0
}
#pageheader h1, #pageheader h2 {
    margin:30px 0;
    font-size:2.5em
}
.table tbody>tr>td, .table tbody>tr>th, .table tfoot>tr>td, .table tfoot>tr>th, .table thead>tr>td, .table thead>tr>th {
    border-top:1px solid #bfbaa6;
    padding:10px
}
.borderdash {
    border:5px dashed #bfbaa6;
    margin-bottom:20px;
    margin-top:10px
}
#highlights {
    font-size:1em;
    padding:20px 20px 10px;
    background:#f3eedb
}
#highlights ul {
    padding-left:18px;
    margin-left:0;
    margin-bottom:0
}
#highlights ul.label-stack {
    padding-left:0;
    border-top:5px dashed #bfbaa6;
    padding-top:20px;
    margin-bottom:0
}
#highlights ul li {
    margin-bottom:15px;
    padding:0
}
.pricing {
    background:#f2eee2;
    border-top:5px dashed #bfbaa6;
    padding:20px 0 10px
}
#tourlinks {
    background:url(bg-footer.jpg) repeat-x bottom;
    padding:0
}
body.page-id-41 .sticky-wrapper {
    margin-bottom:40px
}
#tourlinks ul {
    position:relative;
    padding:0 15px;
    margin-bottom:0
}
body.page-id-41 #tourlinks ul {
    padding:0;
    font-size:1.3em
}
body.page-id-41 #tourlinks.stuck {
    position:fixed;
    top:0;
    width:100%;
    z-index:10
}
body.page-id-41 #tourlinks ul li.sorttitle {
    color:#e7e3d8
}
#tourlinks li.col-md-3 {
    z-index:200;
    display:inline-block;
    position:static;
    border-left:1px solid #1c2828;
    border-right:1px solid #514f4c;
    padding:0
}
#tourlinks a {
    display:block;
    text-align:center;
    padding:15px 0;
    font-size:1.5em;
    color:#e7e3d8
}
body.page-id-41 #tourlinks li a {
    padding:10px;
    font-size:1em
}
body.page-id-41 #tourlinks li a .the {
    font-size:.7em
}
body.page-id-41 #tourlinks li.pull-right {
    line-height:1.44em
}
#tourlinks a i {
    margin-right:10px
}
#tourlinks #sort a.selected, #tourlinks a.active, #tourlinks a:hover {
    background:#e3544f
}
aside h3 {
    text-align:center;
    background:0 0;
    font-size:1.3em;
    font-weight:500;
    padding:10px;
    margin-bottom:0;
    text-transform:uppercase;
    text-shadow:none
}
.tasting-loc ul.tour_info li {
    font-size:1em;
    line-height:1.4
}
.single-tours #tourlinks ul {
    position:relative;
    padding:0 15px;
    margin-bottom:0
}
.single-tours #tourlinks li.col-md-3 {
    z-index:200;
    display:inline-block;
    position:static;
    border-left:1px solid #1c2828;
    border-right:1px solid #514f4c;
    padding:0
}
.single-tours #tourlinks a {
    display:block;
    text-align:center;
    padding:15px 0;
    font-size:1.5em;
    position:relative;
    z-index:90;
    color:#e7e3d8
}
ul.tour_info {
    line-height:1.9;
    margin-bottom:0;
    padding:0;
    font-size:.85em
}
ul.tour_info li {
    display:block;
    padding:15px 20px;
    background:#f3eedb;
    margin:0 5px;
    font-size:1.3em;
    line-height:1
}
ul.tour_info li.odd {
    background:0 0
}
#main h2, .page-id-108 .main .col-md-7 h2, .page-id-108 .main .col-md-7 h3, .page-id-44 .main .col-md-5 h3 {
    border-top:3px dashed #bfbaa6;
    padding-top:30px;
    margin-top:30px;
    letter-spacing:-1px
}
#main h2.first, .page-id-108 .main .col-md-7 h2.first, .page-id-108 .main .col-md-7 h3.first, .page-id-44 .main .col-md-5 h3.first {
    border-top:0;
    padding-top:0;
    margin-top:0
}
#other-tours {
    padding:40px 0;
    background:#e7e3d8;
    border-top:1px solid #bfbaa6
}
#other-tours #private-tours {
    text-align:center
}
#other-tours a {
    display:block;
    margin-bottom:20px
}
#other-tours #private-tours a {
    display:inline-block
}
#other-tours h2 {
    font-size:45px
}
#other-tours h4 {
    font-size:25px;
    text-align:center
}
.page-id-172 #other-tours h4 {
    font-size:1.2em
}
#other-tours a:hover h4 {
    color:#3cadb1
}
h2.lower-title {
    margin-top:0;
    text-align:center;
    margin-bottom:40px
}
h2.lower-title:before {
    content:"";
    display:block;
    border-top:5px dashed #bfbaa6;
    width:100%;
    height:1px;
    position:absolute;
    top:50%;
    z-index:1
}
h2.lower-title span {
    background:#e7e3d8;
    padding:0 20px;
    position:relative;
    z-index:5
}
.img-thumbnail {
    border-radius:0
}
.product-box {
    border:2px solid #bfbaa6;
    margin-bottom:40px
}
.product-box.tasting-loc {
    margin-bottom:0
}
.product-box strong {
    display:block;
    font-weight:400;
    font-size:1.2em
}
.product-box h3 {
    border-bottom:2px solid #bfbaa6;
    background:#dbd7c9;
    margin:5px
}
.label-stack {
    font-size:1.2em;
    margin-left:20px
}
.label-stack li {
    margin-bottom:18px;
    line-height:1
}
.label-stack small, .product-box .tour_label {
    display:block;
    font-size:.7em;
    text-transform:uppercase
}
#magic-line-two {
    position:absolute;
    top:0;
    left:0;
    background:#e3544f;
    z-index:80;
    height:100%
}
#clients-flexslider.clients li, #clients-flexslider.clients li:hover {
    background:0;
    margin:0;
    height:63px
}
#clients-flexslider.clients li a {
    display:block
}
#clients-flexslider.clients li a:hover img {
    margin-top:-63px!important
}
.entry {
    border:2px solid #bfbaa6
}
.entry h2, .entry h3 {
    border-bottom:2px solid #bfbaa6;
    background:#dbd7c9;
    padding:10px;
    font-size:1.05em;
    margin-bottom:0;
    text-shadow:none
}
.entry p {
    font-size:.85em;
    padding:10px
}
.page-id-38 .large p {
    font-size:3.5em;
    line-height:1
}
.page-id-38 .medium p {
    font-size:2.6em;
    line-height:1.2
}
.page-id-38 .original p {
    font-size:1.4em;
    line-height:1.2
}
.page-id-38 .small p {
    font-size:1em
}
.page-id-38 .even .review_title, .page-id-38 .even p {
    padding:0 10px
}
.page-id-38 .review_title {
    font-style:italic;
    font-size:.8em;
    color:#999
}
.dd_post_share_left {
    float:inherit!important;
    clear:both;
    width:100%;
    display:inline-block!important
}
.dd_button a:link {
    margin-top:30px!important
}
.article {
    border-bottom:3px dashed #bfbaa6;
    margin-bottom:25px;
    padding-bottom:10px
}
.article .entry-head {
    margin-bottom:20px
}
.article h2 a {
    color:#535559
}
.article img {
    margin-bottom:5px
}
.page-id-595 .article img {
    margin-bottom:10px
}
.article p {
    font-size:1em;
    line-height:1.4
}
.flexslider .flex-direction-nav {
    padding:0 20px
}
.flexslider .flex-direction-nav a {
    display:block;
    width:42px;
    height:43px;
    text-indent:1000px
}
.flexslider .flex-direction-nav a.flex-prev {
    background:url(slider-left-arrow.png) center top;
    left:0
}
.flexslider .flex-direction-nav a.flex-next {
    background:url(slider-right-arrow.png) center top;
    right:0
}
.executive_team {
    margin-bottom:30px;
    border-bottom:3px dashed #bfbaa6
}
.executive_team.last {
    border-bottom:0
}
.executive_team .pull-left {
    margin:0 10px 10px 0
}
iframe#youtubevid {
    width:100%;
    margin-bottom:20px
}
.ui-dialog {
    padding:12px;
    background:#fff;
    border:1px solid #ccc;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow:0 0 7px #333;
    -webkit-box-shadow:0 0 7px #333;
    box-shadow:0 0 7px #333
}
.ui-dialog-titlebar {
    position:absolute;
    top:-20px;
    left:-4px
}
.ui-dialog-titlebar-close {
    background:#fff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
    text-transform:uppercase;
    padding:8px 25px
}
.ui-dialog .ui-dialog-content {
    padding:0
}
.pagination {
    overflow:hidden
}
.navigation .pagination, .wp-pagenavi {
    padding:20px 0 15px
}
.wp-pagenavi {
    position:relative;
    text-align:right
}
.wp-pagenavi span.extend, .wp-pagenavi span.pages {
    border:0;
    color:#b7b7b7;
    font-size:14px
}
.navigation .wp-pagenavi a, .wp-pagenavi span.current {
    color:#3cadb1;
    font-size:1em;
    line-height:1;
    border:none!important
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
    color:#fff
}
.navigation .wp-pagenavi span.current {
    background:#dbd7c9;
    border:1px solid #bfbaa6!important
}
.wp-pagenavi a, .wp-pagenavi span {
    padding:3px 7px!important
}
.navigation .last {
    display:none
}
#compare .tour1 {
    background:#eee7ce;
    color:#555;
    border-left:5px solid #fff
}
#compare .tour2, #compare .tour4 {
    background:#f3eedb;
    color:#555;
    border-left:5px solid #fff
}
#compare .tour3 {
    background:#eee7ce;
    color:#555;
    border-left:5px solid #fff
}
#compare .tour4 {
    border-right:5px solid #fff
}
#compare table.table td {
    border-top:1px solid #d3d2d2
}
#compare table.table tr th.tour1, #compare table.table tr th.tour2, #compare table.table tr th.tour3, #compare table.table tr th.tour4 {
    padding:0;
    vertical-align:inherit
}
#compare .tour1 a, #compare .tour2 a, #compare .tour3 a, #compare .tour4 a {
    display:block;
    padding:5px;
    background:#3cadb1;
    color:#fff;
    line-height:2;
    font-weight:400
}
#compare .tour1 a:hover, #compare .tour2 a:hover, #compare .tour3 a:hover, #compare .tour4 a:hover {
    background:#e45052
}
#compare tbody tr th:hover, #compare tbody tr:hover td.tour1, #compare tbody tr:hover td.tour2, #compare tbody tr:hover td.tour3, #compare tbody tr:hover td.tour4 {
    background:#f9f8f5;
    color:#333
}
#compare table.table {
    margin-bottom:10px
}
#compare table.table tbody td, #compare table.table tbody th {
    vertical-align:middle;
    font-size:.8em
}
#compare table.table tbody th {
    text-transform:uppercase;
    color:#000
}
#compare table.table tbody td {
    text-align:center
}
#compare table.table th.tend {
    border-bottom:0;
    border-top:1px solid #bfbaa6
}
#compare tbody td {
    font-size:.9em;
    , border-top:1px solid #eee!important
}
#compare thead th {
    text-align:center
}
#compare thead th a {
    color:#555;
    text-decoration:none;
    font-size:1em
}
#compare thead th.tour1, #compare thead th.tour2, #compare thead th.tour3, #compare thead th.tour4 {
    border-top:5px solid #fff
}
.tend {
    border-bottom:5px solid #fff
}
.table thead tr th {
    border-bottom:1px solid #bfbaa6
}
.google-map {
    height:350px;
    background-color:#fff;
    border:1px solid rgba(0, 0, 0, .2);
    box-shadow:0 1px 3px rgba(0, 0, 0, .1);
    padding:4px
}
.google-map img {
    max-width:none
}
#loc-form {
    position:relative;
    margin:0
}
#loc-form label {
    display:block;
    background:#413936;
    color:#FFF;
    padding:10px 15px;
    font-size:16px;
    margin:0
}
#loc-form input {
    margin-top:5px
}
#loc-autocomplete {
    list-style:none;
    margin:0;
    position:absolute;
    z-index:2;
    background:#FFF;
    border:1px solid #CCC;
    padding:5px 0;
    display:none;
    border-radius:5px;
    box-shadow:0 1px 5px rgba(0, 0, 0, .2)
}
#loc-autocomplete li {
    cursor:pointer;
    padding:5px 15px
}
#loc-autocomplete li.active-autocomplete {
    color:#FFF;
    background:#3cadb1
}
#maps {
    margin-bottom:95px
}
.home #maps {
    margin-bottom:inherit
}
.maptext {
    font-size:.85em
}
.gmap embed, .gmap img, .gmap object {
    max-width:none;
    height:auto
}
.gmap *, .gmap :after, .gmap :before {
    box-sizing:content-box
}
.gmap h3 {
    background:#fff;
    position:absolute;
    bottom:30px;
    z-index:100;
    display:block
}
.addressform {
    background:#262729;
    display:block;
    text-align:center
}
.addressform label {
    color:#fff;
    padding:10px 0
}
.home #loc-autocomplete {
    top:38px!important
}
.directions-label {
    font-size:1.05em
}
.directions-label.btnonly {
    padding-top:10px
}
.home #allmaps {
    padding-bottom:20px
}
.faq {
    padding-left:0;
    margin-left:0
}
.item {
    margin-bottom:20px
}
.isotope .isotope-item {
    -webkit-transition-property:-webkit-transform, opacity;
    -moz-transition-property:-moz-transform, opacity;
    -ms-transition-property:-ms-transform, opacity;
    -o-transition-property:-o-transform, opacity;
    transition-property:transform, opacity
}
#kioskModalBackground {
    position:relative;
    z-index:1000
}
.page-id-1933 #allmaps {
    margin-bottom:40px
}
.well {
    background:#f3eedb;
    border:1px solid #bfbaa6;
    border-radius:0
}
.gform_body.product-box ul.list-unstyled {
    padding:15px 20px;
    background:#f3eedb;
    font-size:1.3em;
    margin-bottom:0
}
.gform_body.product-box ul.list-unstyled li label {
    font-size:.7em;
    text-transform:uppercase;
    font-weight:400
}
#footer form input.form-control, .archive form input.form-control, .page-id-595 form input.form-control, .single-post form input.form-control {
    border-radius:4px 0 0 4px!important
}
#footer form .btn.btn-primary, .archive form .btn.btn-primary, .page-id-595 form .btn.btn-primary, .single-post form .btn.btn-primary {
    padding:7px
}
.gform_wrapper h3 {
    font-size:1.4em;
    clear:both;
    border-bottom:2px solid #bfbaa6;
    background:#dbd7c9;
    margin:0 0 10px
}
.gform_wrapper ul {
    padding-left:0;
    list-style:none
}
.gform_wrapper li {
    margin-bottom:15px
}
.gform_wrapper form {
    margin-bottom:0
}
.gform_footer {
    padding-bottom:40px
}
.gform_wrapper .gfield_required {
    padding-left:1px;
    color:#b94a48
}
.ginput_container input, .ginput_container select, .ginput_container textarea {
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    vertical-align:middle;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.ginput_container input:-moz-placeholder, .ginput_container select:-moz-placeholder, .ginput_container textarea:-moz-placeholder {
    color:#999
}
.ginput_container input::-moz-placeholder, .ginput_container select::-moz-placeholder, .ginput_container textarea::-moz-placeholder {
    color:#999
}
.ginput_container input:-ms-input-placeholder, .ginput_container select:-ms-input-placeholder, .ginput_container textarea:-ms-input-placeholder {
    color:#999
}
.ginput_container input::-webkit-input-placeholder, .ginput_container select::-webkit-input-placeholder, .ginput_container textarea::-webkit-input-placeholder {
    color:#999
}
.ginput_container input:focus, .ginput_container select:focus, .ginput_container textarea:focus {
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}
.ginput_container input[disabled], .ginput_container input[readonly], .ginput_container select[disabled], .ginput_container select[readonly], .ginput_container textarea[disabled], .ginput_container textarea[readonly], fieldset[disabled] .ginput_container input, fieldset[disabled] .ginput_container select, fieldset[disabled] .ginput_container textarea {
    cursor:not-allowed;
    background-color:#eee
}
.ginput_container textarea, textarea.ginput_container input, textarea.ginput_container select, textarea.ginput_container textarea {
    height:auto
}
.gform_button {
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:1.2em;
    font-weight:400;
    line-height:1.428571429;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    border-radius:4px;
    white-space:nowrap;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    color:#fff;
    background-color:#e3544f;
    border:0;
    text-transform:uppercase
}
.gform_button:focus {
    outline:#333 dotted thin;
    outline:-webkit-focus-ring-color auto;
    outline-offset:-2px
}
.gform_button:focus, .gform_button:hover {
    text-decoration:none;
    background:#660202
}
.gform_button.active, .gform_button:active {
    outline:0;
    -webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125)
}
.gform_button.disabled, .gform_button[disabled], fieldset[disabled] .gform_button {
    cursor:not-allowed;
    pointer-events:none;
    opacity:.65;
    filter:alpha(opacity=65);
    -webkit-box-shadow:none;
    box-shadow:none
}
.gform_button.active, .gform_button:active, .gform_button:focus, .gform_button:hover, .open .dropdown-toggle.gform_button {
    color:#fff;
    background-color:#3276b1;
    border-color:#285e8e
}
.gform_button.active, .gform_button:active, .open .dropdown-toggle.gform_button {
    background-image:none
}
.gform_button.disabled, .gform_button.disabled.active, .gform_button.disabled:active, .gform_button.disabled:focus, .gform_button.disabled:hover, .gform_button[disabled], .gform_button[disabled].active, .gform_button[disabled]:active, .gform_button[disabled]:focus, .gform_button[disabled]:hover, fieldset[disabled] .gform_button, fieldset[disabled] .gform_button.active, fieldset[disabled] .gform_button:active, fieldset[disabled] .gform_button:focus, fieldset[disabled] .gform_button:hover {
    background-color:#428bca;
    border-color:#357ebd
}
.gform_wrapper .gfield_error .gfield_label {
    color:#b94a48
}
.gform_wrapper .gfield_error input, .gform_wrapper .gfield_error select, .gform_wrapper .gfield_error textarea {
    border-color:#eed3d7;
    background-color:#f2dede;
    color:#b94a48
}
.gform_wrapper .gfield_error input:focus, .gform_wrapper .gfield_error select:focus, .gform_wrapper .gfield_error textarea:focus {
    border-color:#b94a48;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(185, 74, 72, .6);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(185, 74, 72, .6)
}
.validation_error {
    padding:15px;
    margin-bottom:20px;
    border:1px solid transparent;
    border-radius:4px;
    background-color:#f2dede;
    border-color:#eed3d7;
    color:#b94a48
}
.validation_error h4 {
    margin-top:0;
    color:inherit
}
.validation_error .alert-link {
    font-weight:700
}
.validation_error>p, .validation_error>ul {
    margin-bottom:0
}
.validation_error>p+p {
    margin-top:5px
}
.validation_error hr {
    border-top-color:#e6c1c7
}
.validation_error .alert-link {
    color:#953b39
}
#gforms_confirmation_message {
    padding:15px;
    margin-bottom:20px;
    border:1px solid transparent;
    border-radius:4px
}
#gforms_confirmation_message h4 {
    margin-top:0;
    color:inherit
}
#gforms_confirmation_message .alert-link {
    font-weight:700
}
#gforms_confirmation_message>p, #gforms_confirmation_message>ul {
    margin-bottom:0
}
#gforms_confirmation_message>p+p {
    margin-top:5px
}
.gallery-row {
    padding:15px 0
}
.aligncenter {
    display:block;
    margin:0 auto
}
.alignleft {
    float:left
}
.alignright {
    float:right
}
figure.alignnone {
    margin-left:0;
    margin-right:0
}
*{
    padding: 0px;
    margin:0px;
}
.embed-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden
}
.embed-container embed, .embed-container iframe, .embed-container object {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.icon {
    padding-right:15px
}
.btn-xl {
    padding:15px 24px;
    font-size:22px;
    line-height:1.33;
    border-radius:6px
}
.single-post h1 {
    font-size:30px
}
.single-post article.post .content img {
    display:block;
    max-width:100%;
    height:auto
}
htm body #tickets .nav li a {
    font-size:1.2em
}

[data-pin-log=button_pinit] {
    margin-top:40.5px
}

/**/

.banner1{
    width: 960px;
    margin: 0 auto;

}
.men li{
    /*width: 340px !important;*/
/*        width: 288px !important;*/
          width: 230px !important;
}


/*Clients Carousel (Flexslider)
------------------------------------*/
.clients {
   box-shadow:none !important;
   margin-bottom: 0 !important;    
}
.clients li {
   float: left;
   overflow: hidden;
   margin-left: 1px;
   position: relative;
   background: #fafafa;
}
.clients li:hover {
   background: #f6f6f6;
}
.clients li img.color-img {
   top: 0;
   left: 0;
   display: none;
   position: absolute;
}
.clients li:hover img.color-img { 
   display: block;
}
.clients li img {
   filter: gray; /* IE6-9 */
   float: none !important;
   margin: 0 auto !important;
}
.clients li img:hover {
    filter: none;
}
.clients, 
.flexslider.home {
    border: 0;
    overflow: hidden;
    margin-top: 10px;      
    margin-bottom: 30px;      
}

.flexslider { 
    margin-top: -50px !important;
    border-top: 0 !important;
}
.flexslider .flex-direction-nav a {
    margin-top: -247px !important;
}

.tito{
	float: left;
	width: 100%;
	background: #999999;
	text-align: center;
}
.tito h1{
	margin-bottom: 5px;
	margin-top: 5px;
	font-weight: initial;
}
.tito span{
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 21px;
    /* letter-spacing: -1px; */
    /*text-transform: uppercase;*/
    float: left;
    padding: 0px 0px;
    width: 100%;
}
.contenido1{
    float: left;
    width: 100%;
    margin-bottom: 6px;
}
.contenido1 p{
float: left;
width: 100%;
}


/*Conntenedor*/
.contenedor{
	    width: 960px;
    margin: 0 auto;
}
.intdieter{
	float: left;
	width: 100%;
}
.seo1{
    float: left;
    width: 100%;
    margin-bottom: 0px;
}
.seoint{
    float: left;
    width: 478px;
}
.seoint h2{

        font-size: 37px;
    margin: 0;
    color: #ff6633;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.seoint span{
	    color: #ff6633;
}
.seoint p{
    text-align: justify;
    padding: 11px 9px 0px 0px;
    line-height: 23px;
}
.seoint1{
    float: left;
    width: 420px;
    padding: 0px 11px;
    margin-top: 75px;

}
.seoint1 img{
	float: left;
	width: 100%;
}
.compare{

	float: left;
    width: 100%;
        margin-top: 64px;
}
.int1{
	float: left;
	width: 480px;
}
.foot1{
    float: left;
    width: 218px;
    background: #eddaa0;
    margin-right: 5px;
}
.footer1{
	float: left;
	width: 100%;
	background: #999999;
	text-align: center;
}

.footer1 h3{
	color: white;
	margin:0;
	padding: 10px 0px;

}
.trio{
	float: left;
    padding: 0px 10px;
}
.trio p{
    margin: 0;
    margin-top: 18px;
    margin-bottom: 7px;
    font-size: 13px;
}
.trio b{
	    margin-top: 10px;
    margin-bottom: 7px;
}
.trio .boton{
    margin-top: 13px;
    float: left;
    width: 100%;
    margin-bottom: 6px;
}
.tre1{
	float: left;
	width: 100%;
	text-align: center;
}
.tre1 span{
    color: black;
    padding: 9px 1px;
    float: left;
    width: 100%;
    font-size: 24px;
}
.int2{
	float: left;
	width: 469px;
}
.priva{
	float: left;
	width: 100%;
}
.priva img{
	float: left;
	width: 100%;
    height: 269px;

}
.aquiesta{
    float: left;
    width: 479px;
    text-align: center;
    margin-top: 14px;

}
.aquiesta p{
    margin-right: 20px;
}
.venado{
    float: left;
    width: 94%;
    margin-top: 14px;
    margin-bottom: 20px;
    
    text-align: right;
}
.venado a{
	padding: 10px 60px;
    background: #7eb141;
    color: white;
    font-size: 22px;
    text-decoration: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.fotos1{
    float: left;
    width: 519px;
}
.fotos1 h1{
    margin: 0px;
    margin-bottom: 10px;

}
.fotos1 p{
    margin: 0px;
    margin-bottom: 10px;

}
.intour2{
    float: left;
    width: 441px;
}

.intour3{
    float: left;
    padding: 0px 29px;
}
.intour3 span{
    color: #ff9966;
    float: left;
    width: 100%;
    font-size: 26px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.intour4{
    float: left;
    background: #f6efdd;
    margin-left: 40px;
}
.intbajo{
    float: left;
    padding: 0px 23px;
    background: #cfeeaa;
    margin-left: 40px;
    margin-top: 3px;
    width: 287px;
    margin-bottom: 20px;
}
.intbajo p{
    margin: 0px;
    float: left;
    width: 100%;

    margin-top: 5px;
    font-size: 15px;
}
.boton a{
    text-decoration: none;
}
.tourinfo{
    float: left;
    width: 100%;
    margin-top: 16px;
}
.tourinfo h2{
    color: black;
}
.tourinfo1{
    float: left;
    width: 430px;
}
.tourinfo1 p{
    margin: 0px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 3px;
    float: left;
}
.tourinfo1 span{
    float: left;
    width: 90%;
    font-size: 22px;
}
.cuca2{
    width: 22px;
    float: left;
    margin-right: 7px;
}
.todoinfo1{
    float: left;
    width: 100%;
    background: #f6efdd;
}
.todotres{
    padding: 11px 15px;
    float: left;

}

.menu1{
    float: left;
    width: 100%;
    margin-bottom: 52px;
    /* background: #666666; */
}
.menu1 nav{
    width: 960px;
    margin: 0 auto;
}
.menu1 nav ul{
    width: 100%;
    /*background: #006666;*/
    float: left;
        margin-bottom: 0px;
}

.menu1 nav ul li {
    font-weight: bold;
    float: left;
    position: relative;
    /* background: #666666; */
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    list-style-type: none;
}
.menu1 nav ul li a {
    display: block;
    padding: 12px 52px;
    color: #0c0c0c; 
    position: relative;
    z-index: 2000;
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
}
.todocont{
    float: left;
    width: 100%;
}

.arriba li a{

}
.comentario12{
    float: left;
    width: 100%;
    /*background: #bfbfbf;*/
    margin-top: 21px;
        margin-bottom: 20px;
    background: #ededed;
}
.comentint{
    float: left;
    padding: 27px 10px;
}
.coment1{
    float: left;
    width: 217px;
    text-align: center;
    padding: 0px 8px;

}
.coment1 span{
    float: left;
    color: #ff6633;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}
.coment1 p{
        float: left;
    width: 100%;
    font-size: 12px;
}
.footert1{
    float: left;
    width: 100%;
    /*height: 250px;*/
    background: #666666;
    /*margin-top: 40px;*/
}
.trios{
    width: 960px;
    margin: 0 auto;
}
.trioscr{
    float: left;
    width: 100%;
}
.troscr{
    float: left;
    width: 300px;
    padding: 27px 0px;
}
.troscr span{
    color: white;
    float: left;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}
.trioscr p{
    float: left;
    width: 100%;
    color: white;
    font-size: 18px;
}
.cuca1{
    float: left;
    width: 28px;
    margin-top: -5px;
}
.intour3 p{
    float: left;
    width: 100%;
    margin-bottom: 2px;
}
.primerosse{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;;
}
.primerosse h1{
	text-align: center;
}
.miga-pan{
    background-color: #eceeef;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.miga-pan nav{
    float: left;width: 100%;
}
.tourinfo1 span{
    color: black;
}
.original{
    float: left;
    width: 100%;
} 
.sitemap{
    float: left;
    width: 450px;
}

/*inicio de modal*/
.modal-open .dropdown-menu {
  z-index: 2050;
}

.modal-open .dropdown.open {
  *z-index: 2050;
}

.modal-open .popover {
  z-index: 2060;
}

.modal-open .tooltip {
  z-index: 2070;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
    background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
    width: 700px;
  margin: -250px 0 0 -280px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
      -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 50%;
  z-index: 99999999999999;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-body {
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
/* fin de modal*/


.m {
    float: left;
    color: black;
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    -webkit-margin-after: 1em;
    -webkit-margin-before: 0.5em;
    -webkit-padding-start: 19px;
    line-height: 25px;
      font-size: 16px;
}
ul#menu ul {
display: none;
    position: absolute;
/*    top: 38px;*/
    top: 2.5rem;
    background: #fff;
    color: #060606;
    padding: 6px 0px 2px 0px;
    margin: 0;
    z-index: 11111111111111;
 }
  
ul#menu ul li a{
    float: left;
    color: #131212;
    /* width: 100%; */
    /* margin: 2% 0%; */
    padding: 15px 48px;
/*    padding: 15px 58px;*/
    border-top: 1px solid black;
    border-right: none;
    border-left: none;

}
 
 
ul#menu ul li a{
    color: #101010;
    font-size: 15px;
}
  
ul#menu ul li a:hover{
 /*color: #aaa073;*/
 cursor:pointer;
}
  
ul#menu li:hover ul ul,ul#menu li:hover ul ul ul,ul#menu li.iehover ul ul,ul#menu li.iehover ul ul ul {
 display: none;
 cursor:pointer;
}
  
ul#menu li:hover ul,ul#menu ul li:hover ul,ul#menu ul ul li:hover ul,ul#menu li.iehover ul,ul#menu ul li.iehover ul,ul#menu ul ul li.iehover ul {
 display: block;
 cursor:pointer;
}

