@font-face {
    font-family: 'RobotoCondensedReg';
    /*a name to be used later*/
    src: url('../fonts/RobotoCondensed-Regular.ttf');
    /*URL to font*/
}

@media(max-width:375px){
    .info-questions-priv-events{
        font-size: 14px !important;
    }
}

@media (max-width: 551px) {
    #lnkbuytickets {
        font-size: 15px !important;
    }
    .comments-inner {
        height: 345px !important;
    }
    .highlights-row {
        text-align: left;
    }
    .product-logos{
        /**PENDIENTE**/
    }
}

@media (min-width: 768px)and (max-width: 818px) {
    .index-text-md {
        font-size: 20px !important;
    }
}

@media (min-width: 819px) {
    .index-text-md {
        font-size: 22px !important;
    }
    
    #carouselExampleControls{
        margin-top: 50px;
    }
     .product-carousel-item{
        width: 120px !important;
    }
}

@media (min-width: 768px)and (max-width: 786px) {
    .carousel-inner {
        height: 355px !important;
    }
    .item-1 {
        margin-left: 34px !important;
    }
    .item-2 {
        margin-left: -27px !important;
    }
    .item-3 {
        margin-left: -34px !important;
    }
    .image-card-back {
        /*        margin-top: -32px !important;*/
        margin-top: -23px !important;
    }
    
     .product-carousel-item {
        width: 93px !important;
    }
}

     .product-carousel-item {
        width: 93px ;
    }
@media (min-width: 790px)and (max-width: 848px) {
    
     .product-carousel-item {
        width: 100px !important;
    }
    .carousel-inner {
        height: 340px !important;
    }
    .item-1 {
        margin-left: 45px !important;
    }
    .item-2 {
        margin-left: -36px !important;
    }
    .item-3 {
        margin-left: -40px !important;
    }
    .image-card-back {
        /*        margin-top: -23px !important;*/
        margin-top: -15px !important;
    }
}


@media (min-width: 849px)and (max-width: 940px) {
    .carousel-inner {
        height: 340px !important;
    }
    .item-1 {
        margin-left: 86px !important;
    }
    .item-2 {
        margin-left: -61px !important;
    }
    .item-3 {
        margin-left: -65px !important;
    }

    .image-card-back {
        /*        margin-top: -45px !important;*/
        margin-top: -36px !important;
    }
    
     .product-carousel-item {
        width: 110px !important;
    }
}

/****NUEVO MENU****/

@media (max-width: 425px) {
    .logo-mobile {
        margin: 0px;
    }
    .logo-mobile img {
        height: 40px;
        width: 100px;
    }

    .navbar-expand-md button {
        padding: .25rem .50rem;
    }
}

/****NUEVO MENU****/

@media (max-width: 767px) {
    .picture-title{
        margin-bottom: 0px!important;
    }
    .picture-description{
        margin-top: 0px!important;
    }
    .highlights-h2{
        margin-top: -20px !important;
    }
    h2{
        font-size: 23px !important;
    }
    .br-lg{
        display: none;
    }
    .h2-aligned{
        padding-left: 15px;
    }
    
    #carouselExampleControls .carousel-control-prev-icon{
        display: none;
    }
    
    .slide-product-gallery {
        padding: 0px !important;
    }
    .highlights-list br {
        display: none;
    }
    .about-us-h1 {
        margin-bottom: 1rem !important;
        margin-top: -.5rem !important;
    }
    .carousel-inner-desktop {
        height: 345px !important;
    }

    .confirm-div {
        padding-top: 100px !important;
    }

    .body {
        padding-top: 90px !important;
    }

    .ytbframe {
        height: 400px !important;
    }

    .desktop-carousel {
        display: none;
    }
    /****NUEVO MENU****/
    .logo-mobile .image_logo {
        background-image: url("../images/logo_mobile.png");
        height: 40px;
        width: 120px;
        color: white;
        display: flex;
        background-repeat: round;
        background-size: cover;

    }

    .phone-numbers {
        display: none;
    }

    .navbar-expand-md {
        justify-content: space-between;
    }

    .navbar {
        background-color: #E51A5F !important;
    }
    .navbar-inferior {
        background-color: #ffffff !important;
        padding: 0rem 1rem;
        border-bottom: 4px solid #E51C5F;
    }
    .logo-mobile {
        margin-right: 0px;
    }

    header {
        background-color: #E51A5F;
    }
    .dropdown .dropdown-menu {
        font-size: inherit;
        border: none;
    }
    .dropdown-item.active,
    .dropdown-item:active,
    .navbar-light .navbar-nav .active > .nav-link {
        background-color: white;
        color: #F8B133;
        font-style: italic;
        font-weight: bolder;
    }

    .dropdown-toggle::after {
        display: none;
    }
    /****NUEVO MENU****/
    .index-inner {
        /*        width: 70%;*/
        width: 350px;
        height: 507px;
        background-image: url("../images/bacground_card.png");
        background-size: cover;
    }
    .index-item {
        padding: 40px 0px 0px 0px;
    }

    .index-card {
        width: 18rem;
        height: 420px;
    }

    .index-card img {
        height: 200px;
    }

    #slider-index {
        text-align: center;
        text-align: -webkit-center;
        text-align: -moz-center
    }

    .up-hl-list {
        margin-bottom: 0px !important;
    }

    .carousel-indicators {
        display: none !important;
    }

    /*     .carousel-control-prev{*/
    .previous-control {
        display: none;
    }

    /*    .carousel-control-next{*/
    .next-control {
        bottom: 50px;
        top: auto;
        opacity: 1;
    }

    .carousel-caption {
        padding-top: 0px;
        padding-bottom: 0px;
        position: relative;
        right: 0;
        left: 0;
        background-color: #F8B133;
        opacity: 1;
        padding-left: 20px;
        padding-right: 70px;
    }

    .contact-left-sm {
        padding-top: 15px;
    }

    .contact-left-sm h2 {
        text-align: left !important;
    }

    .contact-team-title {
        text-align: left;
    }

    .highlights-row .highlights-item {
        margin-top: -17px;
        margin-bottom: 25px;
    }

    h5 {
        text-align: left;
    }

    .benefits-list ul {
        list-style: none;
        padding-left: 10px;
    }

    .submit-button {
        text-align: center;
    }
}

@media (min-width: 576px) {
    .comment-title-md {
        margin-top: -8px !important;
    }
    .comment-text p {
        margin: 0px 60px 0px 60px;
    }

    .comment-box {
        height: 142px !important;
    }

}

@media(min-width:768px) and (max-width:990px) {
    .card-single-tour {
        height: 256px;
    }

}

@media (min-width: 768px) {
    .product-adjustnment{
        margin-top: 20px;
    }
    .first-info-element{
        padding-left: 20px !important;
    }

    .br-sm{
        display: none;
    }
    
    .product-card-div{
        padding-top: 50px;
    }
    
    .product-carousel-item a img {
        width: 100%;
    }

    #carouselExampleControls .carousel-inner {
        border: 4px solid #F8B133;
    }

    .product-card .product-description p {
        margin: 0px 0px 5px 0px;
        font-size: 14px;
    }

    .highlights-list li:first-child {
        margin-bottom: 5px;
    }

    .product-title {
        margin-bottom: 0px;
    }
    .product-subtitle {
        margin: 0px 10px 10px 0px;
    }
    .comments-inner {
        height: 190px !important;
    }

    .about-us-h1 {
        margin: 1rem auto !important;
    }

    .pink-text {
        padding-top: 20px !important;
    }

    .carousel-indicators {
        bottom: inherit;
    }

    .carousel-indicators li {
        height: 5px;
        margin-top: 5px;
/*        width: 120px !important;*/
    }

    .navbar-booking-inferior {
        display: none;
    }

    .comments-landing-product {
        margin-top: 60px;
    }

    .comment-box {
        height: 100px !important;
    }

    .phone-numbers {
        -webkit-margin-after: 0px !important;
    }

    .phone-numbers li a {
        /*        font-size: 22px;*/
        /*        font-size: 14px;*/
        font-size: 16px;
    }

    .comments-blog-landing {
        padding-top: 60px;
    }

    .index-dropdown-list {
        background-color: #E51A5F;
        border-radius: 0;
        margin-top: 10px;
        margin-left: -45px;
    }

    .index-dropdown-list .dropdown-item {
        color: white;
    }

    .index-dropdown-list .dropdown-item:hover {
        background-color: #E51A8A;
    }

    .dropdown-divider {
        border-top: 1px solid white;
    }



    .title-subt {
        display: none;
    }

    .mobile-carousel {
        display: none;
    }

    .index-carousel-caption {
        right: inherit;
        background: rgba(0, 0, 0, 0.48) !important;
        /*    opacity: 0.5;*/
        height: 438px !important;
        left: inherit;
        width: 35%;
    }

    /****NUEVO MENU***/
    .navbar-brand .fa-phone {
        display: none;
    }
    .second-item-list {
        width: 100%;
    }
    .second-item-list li {
        margin: 1px auto;
    }

    .phone-icon {
        display: none;
    }

    #lnkbuytickets {
        background: #cc3300;
        padding: 7px 24px;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        border: 0px solid #e20808;
    }

    .logo-mobile .image_logo {
        background-image: url("../images/logo_desktop.png");

        height: 40px;
        width: 120px;
        color: white;
        display: flex;
        background-repeat: round;
        background-size: cover;

    }

    .navbar-expand-md {
        justify-content: space-between;
    }

    .navbar-superior {
        border-bottom: 3px solid #E51C5F;
    }
    .navbar-inferior {
        border-bottom: 3px solid #E51C5F;
    }
    /****NUEVO MENU***/
    .product-text-align,
    .product-text-align h1 {
        text-align: left !important;
    }
    .product-text-align {

        margin-bottom: -6em !important;
    }

    .highlights-list {
        list-style: none;
        margin-bottom: 10px;
        width: 100%;
        flex-direction: row;
        display: flex;
        padding-left: 0px;
        justify-content: space-around;
        /*
        -webkit-padding-start: 10px;
        -moz-padding-start: 10px;
*/
    }
    /*    .carousel-control-next-icon{*/
    next-icon {
        display: none;
    }
    .carousel-caption {
        padding-top: 10px;
        padding-bottom: 0px;
        bottom: 0px;
        position: sticky;
        background-color: #F8B133;
        height: 60px;
        font-size: 15px;
    }
    .carousel-caption h5 {
        margin-bottom: 0px !important;
    }
    .carousel-caption p {
        margin-top: 0px !important;
    }

    .ytbframe {
        width: 100%;
        /*        height: 100%;*/
    }

    .submit-button {
        text-align: right;
    }

    .show-md {
        visibility: visible !important;
    }

    .contact-left-sm,
    .contact-right-sm {
        margin-bottom: auto;
        /*150px;*/
        padding-top: 25px;
    }

    .highlights-row {
        margin-bottom: -20px;
        font-size: 14px;
    }
    /*
        .contact-right-sm{
        padding-top: 5px ;
    }
*/
    .contact-team-title {
        padding-top: 10px;
    }
    .contact-right-text {
        padding-top: 20px;
    }
    .contact-image {
        padding-top: 10px;
    }
}

@media (max-width: 991px) {
    .confirm-div {
        padding-top: 185px;
    }

    .control-index-carousel-l {
        left: -23px !important;
    }
    .control-index-carousel-r {
        right: -23px !important;
    }

    .menu_booking {
        border-bottom: none !important;
        background: #E52C5F;
    }

    #second {
        border-bottom: 3px solid #E51C5F;
    }

    .title_booking {
        border-bottom: none !important;
    }

    .product-card {
        width: 450px !important;
    }




    header {
        position: fixed;
        z-index: 9999;
        width: 100%;
        background: white;
        /**NUEVO MENU, SE COMENTO **/
    }
    .body {
        padding-top: 140px
    }

    #collapsibleNavbar {
        margin-top: 12px;
        /*        background: white;*/
        z-index: 99999;
    }


    .col-sm-12 h2,
    .col-xs-12 h2 {
        /*    font-size: 1rem !important;*/
    }

    .col-sm-12 h1,
    .col-xs-12 h1 {
        /*        font-size: 2rem !important;*/
    }

    .img-mobile {
        padding-right: 0px;
        padding-left: 0px;
    }

    footer {
        max-width: 100% !important;
    }


    .title-desk {
        color: black !important;
        text-align: center !important;
        font-size: 2rem !important;
    }

    .img-height {
        width: 100%;
    }


    /*
    .carousel-comments{
        height: auto;
    }
*/
}

@media (min-width: 992px) {
    /*
    .contact-left-sm{
        margin-bottom: 105px;
        padding-top: 10px;
    }
*/
    .confirm-div {
        padding-top: 50px;
    }

    /*
    #carouselExampleControls .carousel-inner {
        border: 4px solid #F8B133;
    }
*/
    #carouselExampleControls .carousel-indicators li {
        margin-right: 5px !important;
    }

    .contact-team-title {
        padding-top: 0px !important;
    }
    .contact-right-text {
        padding-top: 0px !important;
    }
    .contact-image {
        padding-top: 0px !important;
    }

    #contact-form {
        padding-top: 0px;
    }

    .contact-message {
        height: 180px;
    }

    .banner-cards {
        margin: -5% 0px 0px 0px;
        padding: 0;
        background: #f3eedb;
        padding-bottom: 20px
    }


    .flex-viewport {
        height: 415px;
    }

    .ytbframe {
        width: 100%;
        /*        height: 100%;*/
    }

    .img-height {

        height: 100%
    }

    .product-card {
        width: auto !important;
    }



    /*
    .comments-lg{
        height: 250px;
    }
*/
    /*
    .carousel-comments{
        height: 200px;
    }
*/
}

@media (min-width: 1200px) {
    .banner-cards {
        margin: -5% 0px 0px 0px;
        padding: 0;
        background: #f3eedb;
        padding-bottom: 20px
    }

    .ytbframe {
        width: 100%;
        /*        height: 100%;*/
    }
    .img-height {

        height: 100%
    }

    #contact-form {
        padding-top: 17px;
    }
}

body {
    font-family: 'RobotoCondensedReg' !important;
    font-size: 16px;
    /*15px*/
/*    min-width: 320px;*/
}

h5 {
    font-family: 'RobotoCondensedReg' !important;
}

h1 {
    text-align: center;
    font-size: 26px;
}

h2 {
    color: #EA5B2D
}

.flex-caption {
    /*
  background: tomato; 
  color: white;
  position: absolute;
  bottom: 0;
  padding: 1em;
*/
    width: 100%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 14px;
    line-height: 18px;
}

.flex-control-paging {
    display: none !important;
}

.profile-card {
    /*    background-color: #222222;*/
    background-color: #eddaa0;
    margin-bottom: 20px;
    margin-top: 20px;

}

.profile-pic {
    border-radius: 50%;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-width: 100px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}


.profile-info {
    /*		color: #BDBDBD;*/
    color: black;
    /*		padding: 25px;*/
    position: relative;
    /*	    margin-top: 15px;*/
}

.profile-info h2 {
    color: #E8E8E8;
    letter-spacing: 4px;
    padding-bottom: 12px;
}

.profile-info span {
    display: block;
    /*    font-size: 12px;*/
    /*    color: #4CB493;*/
    color: white;
    letter-spacing: 2px;
}

.profile-info a {
    color: #4CB493;
}

.profile-info i {
    padding: 15px 35px 0px 35px;
}


.profile-card:hover .profile-pic {

    transform: scale(1.1);
}

.profile-card:hover .profile-info hr {
    opacity: 1;
}




/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    width: 100% !important;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 52%;
    right: 52%;
    bottom: 0;
    background: #FFFFFF;
    border-radius: 50%;
    height: 3px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.profile-card:hover .hvr-underline-from-center:before,
.profile-card:focus .hvr-underline-from-center:before,
.profile-card:active .hvr-underline-from-center:before {
    left: 0;
    right: 0;
    height: 1px;
    background: #CECECE;
}

.profile-card {
    height: 100%;
}

.hvr-underline-from-center {
    height: 40px;
    background: gray;
}

.img-responsive {
    width: 100%;
}

.button a {
    width: 100%;
    background: #cc3300;
    color: white;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 0px solid #000000;
}

.flexslider {
    margin: 0 0 0 0px !important;
    border: 0px solid #fff !important;
}

.card-background {
    background: white;
}

.author {
    text-align: right;
}

footer {
    background: #E51A5F;
}


.footer-copyright,
.footer-copyright a {
    color: white;
}

.h2-title {
    text-align: left;
}

/*
p{
    text-align: left;
}
*/

h2 {
    /*    font-size: 1.5rem;*/
}


.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f078";
    color: #EA5B2E;
    float: right;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";
}

.accordion {
    text-align: left;
    font-weight: bold;
}

#collapseEleven {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.collapsing {
    padding-bottom: 0px
}

.card-header {
    margin-bottom: 1rem;
}

.title-desk {
    color: #EA5B2E;
    text-align: left;
}

.list {
    text-align: -webkit-left;
    padding-left: 15px;
}

.form-control {
    border-radius: 0px;
    border: 0px;
    background-color: #F4F4F4;
}

.btn-send {
    background-color: #EA5B2E;
    border-color: #EA5B2E;
    padding: 8px 50px;
    /*    float: right;*/
}

.card {
    width: 300px;
    border: solid 4px #F8B133;
    /*2px*/
    border-radius: 0px 0px 15px 15px
}

hr {
    border-top: 2px solid #EA5B2E !important;
}

input::placeholder,
textarea::placeholder {
    /*    font-weight: bold;*/
    opacity: 0.5 !important;
}

/*
.carousel-comments{
        height: 300px;
    }
*/

.comment {
    height: 300px;
}

.carousel-container {
    height: 400px;
}

.container {
    /*    min-width: 362px;*/
/*    min-width: 330px;*/
    max-width: 960px;
    /*    max-width: 1140px;*/
}

/*FLECHAS DEL FLAVORS OF FOOD TOUR
.orange-prev{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F8B133' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.orange-next{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F8B133' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}*/

h4 {
    margin: 20px 10px 10px;
}

p {
    margin: 10px;
}



#carouselExampleControls {
    margin: 20px auto;
    /*    width: 400px;*/
}

#carouselExampleControls .carousel-indicators {
    margin: 10px 0 0;
    /*overflow: auto;*/

    position: static;
    display: inline-block;
    text-align: left;
    /*white-space: nowrap;*/

    width: 100%;
}

#carouselExampleControls .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    /*    margin: 0 !important;*/
/*    width: auto;*/
}

#carouselExampleControls .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

#carouselExampleControls .carousel-indicators li.active img {
    opacity: 1;
}

#carouselExampleControls .carousel-indicators li:hover img {
    opacity: 0.75;
}

h5 {
    margin-left: 10px;
    /*    margin-top: 10px;*/
}

.price {
    font-size: 20px;
}

/***NUEVO MENU***/

.navbar-light .navbar-toggler-icon {
    background-image: url("../images/icon_menu.png");

}

.navbar-toggler {
    border: none;
}

header {
    /*    min-width: 368px;*/
    min-width: 330px;
    max-width: 960px;
    /*    max-width: 1140px;*/
    margin-right: auto;
    margin-left: auto;
}

/***NUEVO MENU***/

.index-card {
    border-radius: 15px;
}

.index-card img {
    border-radius: 10px 10px 0px 0px;
}

.modal-btn-book {
    background: #cc3300;
    padding: 7px 24px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 0px solid #e20808;
    color: white !important;
}



.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

.comment-box {
    height: 235px;
}

.carousel-control-prev {
    left: -15px;
}

.carousel-control-next {
    right: -15px;
}

.navbar-toggler-icon {
    background-image: url("https://cancunfoodtours.com/images/navbar-toggler-icon.png") !important;
    background-size: contain !important;
}

.about-us-h2 {
    font-size: 1.5rem;
}

.about-us-h1 {
    font-size: 2rem;
}

.highlights-h2{
    font-size: 1.3rem !important;
}