@media (max-width: 767px){
            #carouselExampleControls .carousel-control-prev-icon {
                display: inline-block; 
            }
        }
        @media (max-width: 576px){
            .container{
                max-width: 100%;
            }
        }
        @media(max-width: 992px) and (min-width:768px){
            .col-md-8-fixed{
                flex:auto;
                max-width: 100%;
            }
        }
        @media (min-width: 1200px){
            .fixed-sidebar.affix, .fixed-sidebar.affix-bottom {
                width: 360px!important;
            }
        }
        @media (min-width: 992px){
            .fixed-sidebar.affix, .fixed-sidebar.affix-bottom {
                width: 303px;
            }
        }
        @media (max-width: 991px){
            .hidden-sm {
                display: none!important;
            }
            .visible-sm{
                display: block!important;
            }
        }
        @media (min-width: 768px){
            .col-sm-middle {
                vertical-align: middle;
            }
            .col-sm-height {
                display: table-cell;
                float: none;
                height: 100%;
            }
            body .body-background{
                padding-top:0px;
            }
        }
        @media (max-width: 768px){
            .aux-pb-5{
                padding-bottom: 4rem!important;
            }
        }
        .aux-pb-5{
                padding-bottom: 7rem;
            }
        header{
            z-index: 99999;
            position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
        }
        .body{
            position: relative;
            padding-top: 0px!important;
        }
        .body-background {
    background-color: #FBFCF7;
    overflow: hidden;
}
        .lead{
            margin-bottom: 20px;
            line-height: 1.4;
        }
        .fa{
            color:#38aeb0;
        }
        .whatknow i.fa {
    font-size: 20px;
    margin-top: 4px;
    margin-right: 10px;
            float: left;
        }
        
        .whatknow .col-md-6:nth-child(2n+1) {
            clear: left;
        }
        .whatknow .icon-content {
    display: table;
}
        .whatknow .icon-content p{
            margin:0 0 10px;
        }
        .tour-stops h2{
                font-weight: 700;
    font-size: 23px;
    line-height: 39px;
    text-transform: none;
            
        }
        .position-fixed-sd{
            margin: 20px auto;
        }
        .highlight.bordered{
            border:1px solid #ccc;
            border-radius:3px;
        }.highlight.short{
            padding: 20px 0px;
        }
        .highlight{
            background-color: #fff;
            color:#000;
        }
        .labels{
                font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
        }
        .single-tour-h1{
                font-size: 26px;
    line-height: 1.2;
            text-align: left;
        }
        p{
            margin:0 0 10px;
        }
        .pl-20_bullets{
            padding-left:20px;
        }
        .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
        .location_gallery h4 {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 15px;
    right: 15px;
    padding: 10px;
    margin: 0;
    color: #fff;
    font-weight: 300;
                background-color: #e55152;
            font-size: 14px;
}
        h4{
         font-weight: 700;
    font-size: 14px;
    text-transform: none;
            margin-left: 0px;
}
        
        .highlight {
    background-color: #fff;
    color: #000;
                padding-top: 40px;
    padding-bottom: 40px;
}
        .row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
        .quote {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px;
}
        .quote blockquote {
    border-left: 0;
}
        .quote blockquote {
    padding-left: 0;
}
        blockquote {
    padding: 0;
    margin: 0;
}
        img.border-radius {
    border: 1px solid #ccc;
}
        .border-radius {
    border-radius: 3px;
}