

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'Roboto', sans-serif;
}

*{
	margin: 0;
	padding: 0;
}
html{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

h3, h2{
    font-size: 20px;
}

p{
    font-size: 16px;
}

.contenedormovil{
	width: 100%;
    margin: 0 auto;
}
.dentrode1{
float: left;
    padding: 3px 9px;
}
.dentrode{
	float: left;
	width: 100%;
}
.imagen{
    float: left;
    width: 100%;
}
.imagen img{
    float: left;
    width: 100%;
}
.textodentro{
	float: left;
	width: 100%;
}
.textodentro h1{
    float: left;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-top: 12px;
}
.textodentro p{
    float: left;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}
.boton{
	    margin-top: 13px;
    float: left;
    width: 100%;
    margin-bottom: 6px;
}
.boton a{
    padding: 9px 0px;
    float: left;
    width: 100%;
    background: #cc3300;
    color: white;
    text-align: center;
    font-size: 34px;
        border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
 .textodentro h2{
    float: left;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 12px;
    text-align: center;
}
.foot1 {
    float: left;
    width: 100%;
    background: #ffcc99;
    margin-right: 5px;
    margin-bottom: 27px;
    }
.footer1 {
    float: left;
    width: 100%;
    background: #999999;
    text-align: center;
}
.footer1 h3{
	font-size: 20px;letter-spacing: 1px;font-weight: initial;text-transform: uppercase;    padding: 11px 1px;
    color: white;
}
.contenido1 {
    float: left;
    width: 100%;
    margin-bottom: 6px;
}
.trio {
    float: left;
    width: 100%;
}
.trio p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 7px;
        font-size: 22px;
}
.contenido1 b {
    color: black;
    font-size: 19px;
    width: 100%;
    float: left;
}
.textodentro span{
    color: black;
    float: left;
    width: 100%;
    font-size: 22px;
}
.venado {
    float: left;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 20px;
    text-align: right;
}
.venado a {
    padding: 13px 0px;
    background: #7eb141;
    color: white;
    font-size: 27px;
    text-decoration: none;
    float: left;
    width: 100%;
        border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.footer{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    background: #9E9E9E;
    height: 39px;

}