 <div class="flexslider">
                <ul class="slides">
                    <li>
                      <img src="https://cancunfoodtours.com/img/salsa.jpg" />
                    </li>
                    <li>
                      <img src="https://cancunfoodtours.com/img/banner-1.jpg" />
                    </li>
                    <li>
                      <img src="https://cancunfoodtours.com/img/salsa.jpg" />
<!--                        <p class="flex-caption">Text Over Slide 3</p>-->
                    </li>
                    <li>
                        <img src="https://cancunfoodtours.com/img/Cclass/CClass-2-banner.jpg" style="float:left;"/>
                        <div style="margin:  0px;padding:  0px;position: absolute;">
                            <div style="width: 950px;margin: 0 auto;">
                                <div style="float: right;width: 604px;background: rgba(0, 0, 0, 0.58);margin-top: 89px;margin-right: 73px;">
                                    <b style=" color: white; padding-left: 22px;  margin-bottom: 0px;  width: 92%;">Aromas of Mexico Cooking Class in Cancun</b>
                                    <p style="float: left;width: 95%;background: none;color: white!important;padding: 15px;line-height: 24px;letter-spacing: 1px;">Mexican food is by far one of the best in the world, learn the secrets of its cuisine &amp; prepare 4 course-meal representing different parts of Mexico. Learn how to choose the ingredients while visiting a local market and be ready to feast on your deliciously “out of the oven” recipes on this intimate experience.</p>
                                    <div style="float:  left;width:  94%;margin-top:  14px;margin-bottom:  20px;text-align:  right;">
                                        <a href="https://cancunfoodtours.com/cooking-class-in-cancun" style="padding:  10px 60px;background:  green;color:  white;font-size:  22px;text-decoration:  none;-webkit-border-radius: 3px 3px 3px p3x;">LEARN MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
<!--
            <div class="card" style="height: 563.141px; width:20%">
                <div class="card-content">
                  <img class="card-img-top img-fluid" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-tostada-home.jpg"  alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Basic</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up
                      the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-pink">Go somewhere</a>
                  </div>
                </div>
              </div>
-->
<!--
            <div class="row">
    <div class="col-lg-4">
<div class="card view overlay" style="height: 563.141px;/* padding-left: 32px; *//* border-left: red; */border-style: dotted;/* border-left-style: groove; */">
    <div style="margin: 10px 10px 10px 10px;border-style: groove;border-width: 1px;border-color:  black;height:  100%;">
    <div style="color:red;margin: 5px 5px 5px 5px;background:  wheat;border-style: none;height:  100%;">
                <div class="card-content">
                  <img class="card-img-top img-fluid" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-tostada-home.jpg" alt="Card image cap">
                  <h4 class="card-title" style="
    background: #999999;
    width:  100%;
    color: white;
    text-align:  center;
">Flavors of Mexico</h4><div class="card-body" style="
    background:  wheat;
">
                    
                    

                    <p class="card-text">Some quick example text to build on the card title and make up
                      the bulk of the card's content.</p><div class="bottom"></div><a href="#" class="btn btn-outline-pink">Go somewhere</a>
                  </div>
                </div>
    </div>
    </div>
    </div>
    </div>
</div>
-->
            <div class="row justify-content-center align-items-center banner-cards">

        <div class="col-lg-3 col-md-4 card-background">
          <div class="profile-card text-center">

            <img class="img-responsive" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-tostada-home.jpg">
            <div class="profile-info">


              <span class="hvr-underline-from-center">Flavors of Mexico</span>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              <div class="bottom">
              <a href="#" onclick="window.location.href='https://cancunfoodtours.com/flavors-of-mexico-food-tour' ">BOOK NOW</a>
                </div>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md-4 card-background">
          <div class="profile-card text-center">

            <img class="img-responsive" src="https://cancunfoodtours.com/img/Tacotour/taco-tour-pastor-home.jpg">
            <div class="profile-info">


              <span class="hvr-underline-from-center">Taco Tour</span>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              <div class="bottom">
              <a href="#" onclick="window.location.href='https://cancunfoodtours.com/flavors-of-mexico-food-tour' ">BOOK NOW</a>
                </div>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md-4 card-background">
          <div class="profile-card text-center">

            <img class="img-responsive" src="https://cancunfoodtours.com/img/Cclass/CClass-2-home.jpg">
            <div class="profile-info">


              <span class="hvr-underline-from-center">Cooking Class</span>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="bottom">
              <a href="#" onclick="window.location.href='https://cancunfoodtours.com/flavors-of-mexico-food-tour' ">BOOK NOW</a>
                </div>
            </div>

          </div>
        </div>
                
<!--
                <div class="col-lg-4 col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="https://images.unsplash.com/photo-1447877085163-3cce903855cd?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
            <div class="profile-info">


              <h2 class="hvr-underline-from-center">Mike Young<span>Web Designer</span></h2>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              <a href="http://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="mailto:michael_y@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
              <a href="http://www.linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a>
            </div>

          </div>
        </div>
-->


      </div>