<div id="dekt-index-carousel" class="carousel slide" data-ride="carousel">
    
     <ol class="carousel-indicators">
    <li data-target="#dekt-index-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#dekt-index-carousel" data-slide-to="1"></li>
    <li data-target="#dekt-index-carousel" data-slide-to="2"></li>
  </ol>
    
    <div class="carousel-inner carousel-inner-desktop" style=" border: none; height: 340px;"> <!--height: 400px !important;-->
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://cancunfoodtours.com/img/banner-1.jpg" alt="First slide"> <!--w-100-->
            <div class="carousel-caption d-none d-md-block index-carousel-caption text-left" style="bottom: 54px; height: 400px !important;"> <!-- 345px height -->
                <h2 style="color: white; margin:0px 30px; font-size: 23px;"><strong>Welcome to</strong> <br> <strong>Cancun Food Tours!</strong></h2>
                <p style="margin: 10px 30px;">Take a journey through Mexican Culture, Folklore, Food &amp; Drink tradition of Cancun with one of our local food experts who will offer you a unique perspective of the city.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cancunfoodtours.com/img/salsa.jpg" alt="Second slide"> <!--w-100-->
            <div class="carousel-caption d-none d-md-block index-carousel-caption text-left" style="bottom: 54px; height: 400px !important;">
                <h2 style="color: white; margin:0px 30px; font-size: 23px;"><strong>Discover Flavors of Mexico in Cancun</strong></h2>
                <p style="margin: 10px 30px;">North, South, Center. No Food is the same in Mexico, recipes and ingredients change per location so be ready to travel around Mexico through your palate. Explore Food &amp; Culture in Downtown Cancun.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="images/CClass2-banner.jpg" alt="Third slide"> <!--w-100-->
            <div class="carousel-caption d-none d-md-block index-carousel-caption text-left" style="bottom: 54px; height: 400px !important;">
                <h2 style="color: white; margin:0px 30px; font-size: 23px;"><strong>Aromas of Mexico Cooking Class in Cancun</strong></h2>
                <p style="margin: 10px 30px;">Start with a visit to the local market to choose the ingredients for a Mexican 4-course meal. Needless to say, you will eat your own recipees.</p>
            </div>
        </div>
    </div>
    <img src="images/background_index_card_tmp.png" style="margin-top: -110px;position: relative;" class="image-card-back"><!-- -105px -->


    <div class="row" style="margin-top: -415px; height: 362px; align-items: center">
        <div class="col-3 item-1" style="margin-left: 120px;">
            <div class="card index-card" style="width: 215px; height: 100%;">
                <img class="card-img-top" src="https://cancunfoodtours.com/images/flavors-of-mexico-card-mobile.jpg" alt="Card image cap" style="height: 120px;">

                <div class="card-title" style="background-color:#69358A">
                    <div class="row justify-content-center">
                        <h5 style="color:white; margin-top: 5px;">Flavors of Mexico</h5>
                    </div>
                </div>
                <div class="card-body" style="padding: 0rem 1.25rem 1.25rem 1.25rem">
                    <div class="row justify-content-center">
                        <div class="col-12" >
                            <div class="row">
                                <div class="col-12" style="padding: 0px">
                                    <span class="card-text">When:</span>
                                    <span><strong>Wednesday &amp; Saturday</strong></span>
                                </div>
                                <div class="col-12">
                                    <span class="card-text">Time: </span>
                                    <span><strong>3.5 - 4 hours</strong></span>
                                </div>
                                <div class="col-12">
                                    <span><strong>4 Stops</strong></span>
                                </div>

                            </div>
                            <div class="row"  >
                                <div class="col-sm-12">
                                    <span class="card-text"><strong>Price: <br />$79.00 USD</strong></span><br />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                            <div class="row" style="margin-bottom: 1.25rem">
                                <div class="col-12">
                                    <a href="https://cancunfoodtours.com/flavors-of-mexico-food-tour" class="btn btn-success btn-send">BOOK NOW</a>
                                </div>
                            </div>
            </div>
        </div>
        <div class="col-3 item-2" style="margin-left: -65px;">
            <div class="card index-card" style="width: 215px; height: 100%;">
                <img class="card-img-top" src="https://cancunfoodtours.com/images/taco-tour-card-mobile.jpg" alt="Card image cap" style="height: 120px">

                <div class="card-title" style="background-color:#69358A">
                    <div class="row justify-content-center">
                        <h5 style="color:white; margin-top: 5px;">Cancun Taco Tour</h5>
                    </div>
                </div>
                <div class="card-body" style="padding: 0rem 1.25rem 1.25rem 1.25rem">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12" style="padding: 0px">
                                    <span class="card-text">When:</span>
                                    <span><strong>Tuesday Thru Friday</strong></span>
                                </div>
                                <div class="col-12">
                                    <span class="card-text">Time: </span>
                                    <span><strong>3.5 - 4 hours</strong></span>
                                </div>
                                <div class="col-12">
                                    <span><strong>5 Stops</strong></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="card-text"><strong>Price:<br />  $59.00 USD</strong></span><br />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                            <div class="row"  style="margin-bottom: 1.25rem">
                                <div class="col-12">
                                    <a href="https://cancunfoodtours.com/taco-tour-in-cancun" class="btn btn-success btn-send">BOOK NOW</a>
                                </div>
                            </div>
            </div>
        </div>
        <div class="col-3 item-3" style="margin-left: -65px">
            <div class="card index-card" style="width: 215px; height: 100%;">
                <img class="card-img-top" src="https://cancunfoodtours.com/images/cooking-class-card-mobile.jpg" alt="Card image cap" style="height: 120px">

                <div class="card-title" style="background-color:#69358A">
                    <div class="row justify-content-center">
                        <h5 style="color:white; margin-top: 5px;">Cooking Class</h5>
                    </div>
                </div>
                <div class="card-body" style="padding: 0rem 1.25rem 1.25rem 1.25rem">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12" style="padding: 0px">
                                    <span class="card-text">When:</span>
                                    <span><strong>Monday Thru Thursday</strong></span>
                                </div>
                                <div class="col-12">
                                    <span class="card-text">Time: </span>
                                    <span><strong>4.5 - 6 hours</strong></span>
                                </div>
                                <div class="col-12">
                                    <span><strong>3 Stops</strong></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="card-text"><strong>Price: <br /> $99.00 USD</strong></span><br />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                            <div class="row"  style="margin-bottom: 1.25rem">
                                <div class="col-12">
                                    <a href="https://cancunfoodtours.com/cooking-class-in-cancun" class="btn btn-success btn-send">BOOK NOW</a>
                                </div>
                            </div>
            </div>
        </div>
        
        <div class="col-3 item-3" style="margin-left: -65px">
            <div class="card index-card" style="width: 215px; height: 100%;">
                <img class="card-img-top" src="https://cancunfoodtours.com/images/barbacoa-card-mobile.jpg" alt="Card image cap" style="height: 120px">

                <div class="card-title" style="background-color:#69358A">
                    <div class="row justify-content-center">
                        <h5 style="color:white; margin-top: 5px;">Textures of Mexico</h5>
                    </div>
                </div>
                <div class="card-body" style="padding: 0rem 1.25rem 1.25rem 1.25rem">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12" style="padding: 0px">
                                    <span class="card-text">When:</span>
                                    <span><strong>Monday &amp; Friday</strong></span>
                                </div>
                                <div class="col-12">
                                    <span class="card-text">Time: </span>
                                    <span><strong>3.5 hours</strong></span>
                                </div>
                                <div class="col-12">
                                    <span><strong>6 Stops</strong></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="card-text"><strong>Price: <br /> $49.00 USD</strong></span><br />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                            <div class="row"  style="margin-bottom: 1.25rem">
                                <div class="col-12">
                                    <a href="https://cancunfoodtours.com/textures-of-mexico" class="btn btn-success btn-send">BOOK NOW</a>
                                </div>
                            </div>
            </div>
        </div>
        
        
        
    </div>


    <a class="carousel-control-prev control-index-carousel-l" href="#dekt-index-carousel" role="button" data-slide="prev" style="height: 50%; width: 10%; left: -35px">
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
        <img src="images/w_left.png" style="width: 20px;">
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next control-index-carousel-r" href="#dekt-index-carousel" role="button" data-slide="next" style="height: 50%; width: 10%; right: -35px;">
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
        <img src="images/w_right.png" style="width: 20px">
        <span class="sr-only">Next</span>
    </a>
</div>
<br/>
<br/>
