<div class="row justify-content-center">
    <div class="col-12">
        <p><i class="index-text-md">Still not sure to book your Cancun Food Tour?</i><br /> See what our customers are saying about us...</p>
    </div>
    <div class="col-12">
        <div id="carouselContent" class="carousel slide carousel-comments" data-interval="false" data-ride="carousel" >
            <div class="carousel-inner comments-inner" role="listbox">
                <div class="carousel-item active text-center p-4 align-middle"><!-- style="height:300px"-->
                    <div class="row comment-box">
                        <div class="col-7 text-left comment-text">
                            <p class="comment-title-md" style="font-size: 22px;"><strong>"A must!"</strong></p>
                        </div>
                        <div class="col-5 text-right comment-text">
                            <p><strong>Valentina A.</strong></p>
                        </div>
                        <div class="col-12 text-center comment-text">
                            <p>
                                Highly recommended! It’s definitely a must if you want to get off the beaten track. The food is amazing! The tour is run by super friendly and knowledgeable, English-speaking, local guides who take you to authentic places around downtown Cancun.They offer prompt transportation and great service. Don’t miss out on this one!
                            </p>
                        </div>
                        <div class="col-12 text-right comment-text">
                            <p><strong>Reviewed January 26, 2018</strong></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item text-center p-4 align-middle"> <!-- style="height:300px"-->

                    <div class="row comment-box">
                    <div class="col-7 text-left comment-text">
                        <p class="comment-title-md" style="font-size: 22px;"><strong>"Mexican Foodie tour"</strong></p>
                        </div>
                        <div class="col-5 text-right comment-text">
                            <p><strong>Mariana V</strong></p>
                        </div>
                        <div class="col-12 text-center comment-text">
                            <p>
                            Great activity to get out of the typical resort stuff. The staff were friendly and knew all about the history of the delicious local dishes we tried. Each restaurant visited was better than the last, very much off the classic tourist scene. I even got reccomendations of places to visit on my own! 
                            </p>
                        </div>
                        <div class="col-12 text-right comment-text">
                            <p><strong>Reviewed January 19, 2018</strong></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item text-center p-4 align-middle"> <!-- style="height:300px"-->

                    <div class="row comment-box">
                    <div class="col-7 text-left comment-text">
                        <p class="comment-title-md" style="font-size: 22px;"><strong>"Awesome!"</strong></p>
                        </div>
                        <div class="col-5 text-right comment-text">
                            <p><strong>TU914</strong></p>
                        </div>
                        <div class="col-12 text-center comment-text">
                            <p>
                            I highly recommend Cancun Food Tours. The staff are extremely friendly and knowledgeable and the food was delicious. I’m a big foodie and wanted to learn about the diverse food scene in Mexico and the tour did just that! Not only do you get to try a number of local dishes, but you also learn about the history behind them. The highlight for me was eating marquesitas in the park!
                            </p>
                        </div>
                        <div class="col-12 text-right comment-text">
                            <p><strong>Reviewed January 18, 2018</strong></p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev " style="opacity: .9; display: flex" href="#carouselContent" role="button" data-slide="prev">
                <!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                <img src="images/left.png">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" style="opacity: .9; display: flex; bottom:0; top:0" href="#carouselContent" role="button" data-slide="next">
                <!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                <img src="images/right.png">
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
    </div>
</div>
