<br />
<footer class="container">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a href="https://cancunfoodtours.com">Cancun Food Tours</a> © All Rights Reserved 2018
  </div>
  <!-- Copyright -->

</footer>