<header id="header"  role="banner">
<!--    <div class="container">-->
         <nav class="navbar navbar-expand-md navbar-dark navbar-superior">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <a class="navbar-brand logo-mobile order-md-1" href="../"><span class="image_logo"></span>
<!--        <img src="./images/logo_mobile.png" class="logo_image" alt="logo" style="height: 40px;">-->
    </a>
      
        <a class="navbar-brand phone-icon" href="tel:1-800-481-4603">
        <i class="fas fa-phone fa-rotate-90" style="float:left;font-size: 20px;margin-top: 5px;"></i>
    </a>
        <ul class="phone-numbers order-md-2" style="list-style: none">
            <li>Toll Free USA / Canada: <strong><a href="tel:1-800-481-4603" style="text-decoration: none; color:black">1-800-481-4603</a></strong></li>
            <li>When in Mexico: <strong><a href="tel:99 81 47 43 90" style="text-decoration: none; color:black">99 81 47 43 90</a></strong></li>
        </ul>
<ul class="phone-numbers order-md-2" style="list-style: none;">
</ul>
             <ul class="phone-numbers order-md-2" style="list-style: none;">
</ul>
    </nav>
    <nav class="navbar navbar-expand-md navbar-light navbar-inferior navbar-booking-inferior">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto second-item-list">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong>Food Tours</strong>
        </a>
                    <div class="dropdown-menu index-dropdown-list" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../flavors-of-mexico-food-tour">Flavors of Mexico</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../taco-tour-in-cancun">Cancun Taco Tour</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../cooking-class-in-cancun">Aromas Cooking Class</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../cancun-food-tours-private-events"><strong>Private Groups </strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../faq"><strong>F.A.Q.</strong></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../about-us"><strong>About us</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../contact-us"><strong>Contact</strong></a>
                </li>
            </ul>
        </div>
    </nav>
        
<!--    </div>-->
</header>