<header id="header"  role="banner">
    <div class="container">
        <nav class="navbar navbar-expand-md  md-light navbar-light" style="height: 90px; border-bottom:3px solid #E51C5F;" role="navigation">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#second">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand" >
                <img src="https://cancunfoodtours.com/img/cancunfoot.png" alt="logo">
            </a>
<!--
            <a id="lnkbuytickets" href="#example" class="navbar-brand" style="background:#cc3300;padding: 7px 24px;border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;border: 0px solid #e20808; color:white !important;">BUY TICKETS</a>
            <a href="#" style="padding: 4px 0px !important;font-size: 26px;float: right; color:black">
                            <img src="https://cancunfoodtours.com/img/tres3.jpg" style="float:left; width:37px; margin-top:-3px;">
            </a>
-->
            <div class="navbar-collapse collapse" id="collapsibleNavbar">
                <ul id="navbarLeft" class="navbar-nav mx-auto">
                    <li class="nav-item" style="align-self:center;">
                        <a id="lnkbuytickets" href="#example" class="nav-link" style="background:#cc3300;padding: 7px 24px;border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;border: 0px solid #e20808; color:white !important;">BUY TICKETS</a>
                    </li>
                </ul>
                <ul class="nav-item" style="list-style-type: none; float:right;">
                    <li>
                        <a href="#" style="padding: 4px 0px !important;font-size: 26px;float: right; color:black">
<!--                            <i class="fas fa-phone fa-rotate-90" style="float:left;font-size: 20px;margin-top: 5px;"></i>-->
                            <span style="float: left;font-size: 16px;margin-top: 3px;">Toll Free USA/Canada:</span>
                            <span style="float: left;margin-left:  4px;font-weight: bold;"> 1-800-481-4603</span>
                        </a>
                    </li>
                    <li> 
                        <a href="#" style="padding: 1px 0px !important;float: right; color:black;">
                            <!--                            <i class="fas fa-phone fa-rotate-90" style="float:left;font-size: 20px;margin-top: 5px;"></i>-->
                            <span style="float: left;font-size: 15px;margin-top: 3px;">When in Mexico:</span>
                            <span style="float: left;margin-left: 4px;font-weight: bold;"> 9981-47-43-90</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg  lg-light navbar-light"  role="navigation" style="padding: 0px" >
<!--
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#second">
                <span class="navbar-toggler-icon"></span>
            </button>
-->
<!--
            <a id="lnkbuytickets" href="#example" class="navbar-brand" style="background:#cc3300;padding: 7px 24px;border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;border: 0px solid #e20808; color:white !important;">BUY TICKETS</a>
            <a href="#" style="padding: 4px 0px !important;font-size: 26px;float: right; color:black">
                            <img src="https://cancunfoodtours.com/img/tres3.jpg" style="float:left; width:37px; margin-top:-3px;">
            </a>
-->
            <div class="navbar-collapse collapse" id="second" style="border-bottom:3px solid #E51C5F;">
                <ul class="nav" style=" width:  100%; ">
  <li style="
    display:  inline;
    margin-left:  auto;
    margin-right: auto;
"><a href="/" style="display:inline-block;padding:10px; color: black;">Home</a></li>
  <li style="
    display:  inline;
    margin-left:  auto;
    margin-right:  auto;
"><a href="/about/" style="display:inline-block; padding:10px; color: black">About</a></li>
  <li style="
    display:  inline;
    margin-left:  auto;
    margin-right:  auto;
"><a href="/work/" style="display:inline-block; padding:10px; color: black">Work</a></li>
  <li style="
    display:  inline;
    margin-left:  auto;
    margin-right:  auto;
"><a href="/clients/" style="display:inline-block; padding:10px; color: black">Clients</a></li>
  <li style="
    display:  inline;
    margin-left:  auto;
    margin-right:  auto;
"><a href="/contact/" style="display:inline-block; padding:10px; color: black">Contact</a></li>
</ul>
            </div>
        </nav>
    </div>
</header>