<header id="header" role="banner">


    <!-- Large modal -->


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tours</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-sm-3">
                                        <div class="row">
                                            <img src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-tostada-buy-tickets.jpg">
                                        </div>
                                    </div>
                                    <div class=" col-12 col-sm-9 ml-auto text-left">
                                        <div class="row">
                                            <h3>Flavors of Mexico Premium Experience</h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-11">
                                                We will take you through Cancun’s Local dining scene for you to experience how Mexicans really eat. You will have the opportunity to try unique Mexican experiences on each bite. Our tour is designed for you to get to know the history and background behind each dish &amp; drink that people from Cancun are used to eating…
                                            </div>
                                        </div>

                                        <a href="https://cancunfoodtours.com/bookings/1" style="color:black; float: right; font-size: 18px; text-decoration: none;" class="order-md-3 modal-btn-book"><strong>BOOK NOW</strong></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-sm-3">
                                        <div class="row">
                                            <img src="https://cancunfoodtours.com/img/Tacotour/taco-tour-pastor-buy-tickets.jpg">
                                        </div>
                                    </div>
                                    <div class=" col-12 col-sm-9 ml-auto text-left">
                                        <div class="row">
                                            <h3>Taco Tour in Cancun</h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-11 ">
                                                Forget about hard shells, cheddar cheese and sour cream. Deep dive into what has definitely shaped one of the most iconic dishes from Mexico, “The Taco”. Get to know why the tortillas pair up with almost everything when trying the best tacos from the best taco joints.
                                            </div>
                                        </div>

                                        <a href="https://cancunfoodtours.com/bookings/2" style="color:black; float: right; font-size: 18px; text-decoration: none;" class="order-md-3 modal-btn-book"><strong>BOOK NOW</strong></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-sm-3">
                                        <div class="row">
                                            <img src="https://cancunfoodtours.com/img/Cclass/CClass-2-buy.jpg">
                                        </div>
                                    </div>
                                    <div class=" col-12 col-sm-9 ml-auto text-left">
                                        <div class="row">
                                            <h3>Cooking Class</h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-11 ">
                                                Learn everything from how to choose the ingredients and preparing a 4 course-meal representing different parts of Mexico. After your class delight on your own prepared "out of the oven" recipes on this intimate experience.
                                            </div>
                                        </div>

                                        <a href="https://cancunfoodtours.com/bookings/3" style="color:black; float: right; font-size: 18px; text-decoration: none;" class="order-md-3 modal-btn-book"><strong>BOOK NOW</strong></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div>
            </div>
        </div>
    </div>



    <nav class="navbar navbar-expand-md navbar-dark navbar-superior">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <a class="navbar-brand logo-mobile order-md-1" href="/"><span class="image_logo"></span>
<!--        <img src="./images/logo_mobile.png" class="logo_image" alt="logo" style="height: 40px;">-->
    </a>
        <a id="lnkbuytickets" data-toggle="modal" data-target=".bd-example-modal-lg" style="color:white; font-size: 18px; text-decoration: none;" class="order-md-3" href="#"><strong>BUY TICKETS</strong></a>
        <a class="navbar-brand phone-icon" href="tel:1-800-481-4603">
        <i class="fas fa-phone fa-rotate-90" style="float:left;font-size: 20px;margin-top: 5px;"></i>
    </a>
        <ul class="phone-numbers order-md-2" style="list-style: none">
            <li>Toll Free USA / Canada: <strong><a href="tel:1-800-481-4603" style="text-decoration: none; color:black">1-800-481-4603</a></strong></li>
            <li>When in Mexico: <strong><a href="tel:99 81 47 43 90" style="text-decoration: none; color:black">99 81 47 43 90</a></strong></li>
        </ul>

    </nav>
    <nav class="navbar navbar-expand-md navbar-light navbar-inferior">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 17px">
            <ul class="navbar-nav mr-auto second-item-list">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong>Food Tours</strong>
        </a>
                    <div class="dropdown-menu index-dropdown-list" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="flavors-of-mexico-food-tour">Flavors of Mexico</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="taco-tour-in-cancun">Cancun Taco Tour</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="cooking-class-in-cancun">Aromas Cooking Class</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cancun-food-tours-private-events"><strong>Private Groups </strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq"><strong>F.A.Q.</strong></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="about-us"><strong>About us</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us"><strong>Contact</strong></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
