<div id="slider-index" class="carousel slide" data-ride="carousel" data-interval="false">

    <!-- Indicators -->
    <!--
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
-->

    <!-- The slideshow -->
    <div class="carousel-inner index-inner">
        <div class="carousel-item index-item active">
            <div class="card index-card">
<!--                <img class="card-img-top" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-tostada-home.jpg" alt="Card image cap">-->
                <img class="card-img-top" src="https://cancunfoodtours.com/images/flavors-of-mexico-card-mobile.jpg" alt="Card image cap">

                <div class="card-title" style="background-color:#69358A">
                    <div class="row justify-content-center">
                        <h5 style="color:white; margin-top: 5px;">Flavors of Mexico</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <span class="card-text">When:</span>
                                <span><strong>Wednesday &amp; Saturday</strong></span>
                            </div>
                            <div class="col-12">
                                <span class="card-text">Time: </span>
                                <span><strong>3.5 - 4 hours</strong></span>
                            </div>
                            <div class="col-12">
                                <span><strong>4 Stops</strong></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="card-text"><strong>Price: $79.00 USD</strong></span><br />
                            </div>
                        </div>

                    </div>
                    </div>
                    <!--
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
-->
                </div>
                
                        <div class="row" style="margin-bottom: 1.25rem">
                            <div class="col-12">
<!--                                                        <input type="submit" class="btn btn-success btn-send" value="BOOK NOW">-->
                                <a href="https://cancunfoodtours.com/flavors-of-mexico-food-tour" class="btn btn-success btn-send">BOOK NOW</a>
                            </div>
                        </div>
            </div>
        </div>

        <div class="carousel-item index-item">
            <div class="card index-card">
<!--                <img class="card-img-top" src="https://cancunfoodtours.com/img/Tacotour/taco-tour-pastor-home.jpg" alt="Card image cap">-->
                <img class="card-img-top" src="https://cancunfoodtours.com/images/taco-tour-card-mobile.jpg" alt="Card image cap">
                <div class="card-title" style="background-color:#69358A">
                        <div class="row justify-content-center">
                            <h5 style="color:white; margin-top: 5px;">Cancun Taco Tour</h5>
                        </div>
                    </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="row">
                            <div class="col-12">
                            
                            <div class="col-12">
                                <span class="card-text">When:</span>
                                <span><strong>Tuesday Thru Friday</strong></span></div>

                            <div class="col-12">
                                <span class="card-text">Time: </span>
                                <span><strong>3.5 - 4 hours</strong></span>
                            </div>
                            <div class="col-12">
                                <span><strong>5 Stops</strong></span>
                            </div>

                        <div class="row">
                            <div class="col-12">
                                <span class="card-text"><strong>Price: $59.00 USD</strong></span><br />
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                
<div class="row" style="margin-bottom: 1.25rem">
                            <div class="col-12">
<!--                                                        <input type="submit" class="btn btn-success btn-send" value="BOOK NOW">-->
                                <a href="https://cancunfoodtours.com/taco-tour-in-cancun" class="btn btn-success btn-send">BOOK NOW</a>
                            </div>
                        </div>
            </div>
        </div>
        <div class="carousel-item index-item">
            <div class="card index-card">
<!--                <img class="card-img-top" src="https://cancunfoodtours.com/img/Cclass/CClass-2-home.jpg" alt="Card image cap">-->
                <img class="card-img-top" src="https://cancunfoodtours.com/images/cooking-class-card-mobile.jpg" alt="Card image cap">
                 <div class="card-title" style="background-color:#69358A">
                        <div class="row justify-content-center">
                            <h5 style="color:white; margin-top: 5px;">Cooking Class</h5>
                        </div>
                    </div>
                <div class="card-body">
                     <div class="row justify-content-center">
                         <div class="col-12">
                         
                        <div class="row">
                            <div class="col-12">
                                <span class="card-text">When:</span>
                                <span><strong>Monday Thru Thursday</strong></span></div>

                            <div class="col-12">
                                <span class="card-text">Time: </span>
                                <span><strong>4.5 - 6 hours</strong></span>
                            </div>
                            <div class="col-12">
                                <span><strong>3 Stops</strong></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="card-text"><strong>Price: $99.00 USD</strong></span><br />
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
<div class="row" style="margin-bottom: 1.25rem">
                            <div class="col-12">
<!--                                                        <input type="submit" class="btn btn-success btn-send" value="BOOK NOW">-->
                                <a href="https://cancunfoodtours.com/cooking-class-in-cancun" class="btn btn-success btn-send">BOOK NOW</a>
                            </div>
                        </div>
            </div>
        </div>
        
        <div class="carousel-item index-item">
            <div class="card index-card">
                <img class="card-img-top" src="https://cancunfoodtours.com/img/Textures/textures-of-mexico-card-mobile.jpg" alt="Card image cap">
                 <div class="card-title" style="background-color:#69358A">
                        <div class="row justify-content-center">
                            <h5 style="color:white; margin-top: 5px;">Textures of Mexico</h5>
                        </div>
                    </div>
                <div class="card-body">
                     <div class="row justify-content-center">
                         <div class="col-12">
                         
                        <div class="row">
                            <div class="col-12">
                                <span class="card-text">When:</span>
                                <span><strong>Monday &amp; Friday</strong></span></div>

                            <div class="col-12">
                                <span class="card-text">Time: </span>
                                <span><strong>3.5 hours</strong></span>
                            </div>
                            <div class="col-12">
                                <span><strong>6 Stops</strong></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="card-text"><strong>Price: $49.00 USD</strong></span><br />
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
<div class="row" style="margin-bottom: 1.25rem">
                            <div class="col-12">
<!--                                                        <input type="submit" class="btn btn-success btn-send" value="BOOK NOW">-->
                                <a href="https://cancunfoodtours.com/textures-of-mexico" class="btn btn-success btn-send">BOOK NOW</a>
                            </div>
                        </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#slider-index" data-slide="prev">
<!--    <span class="carousel-control-prev-icon"></span>-->
        <img src="images/left.png" style="margin-right: 50px;">
        
  </a>
    <a class="carousel-control-next" href="#slider-index" data-slide="next">
<!--    <span class="carousel-control-next-icon"></span>-->
        <img src="images/right.png" style="margin-left: 50px;">
  </a>
</div>
