<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="row justify-content-center">
            <div class="card product-card">
                <div class="card-body product-description">
                    <div class="row justify-content-center" style="padding: 0 10px 0 10px">
                        <p>Groups will be kept small to guarantee an intimate, <br /> personal experience.</p>
                        <p><strong>Roundtrip transportation included from <br /> any Cancun Hotel or Airbnb</strong></p>
                        <p>Share your eating passion with other foodies <br /> from all over the world</p>
                        <p><strong>Friendly English speaking local guide</strong></p>
                        <p>Get exclusive discounts to the best places to eat in Cancun <br /> throughout our partnerships</p>
                    </div>
                </div>

                <div class="card-title" style="background-color: #69358A">
                    <div class="row justify-content-center">
                        <h5 style="color:white; margin-top: 5px;"><strong>Flavors of Mexico</strong></h5>
                    </div>
                </div>
                <div class="card-body" style="padding: 0rem 1.25rem 1.25rem 1.25rem">
                    <div class="row justify-content-center text-left">
                        <div class="row">
                            <div class="col-4">
                                <p class="card-text" style="margin: 0px 10px 0px">Duration: </p>
                                <p style="margin: 0px 0px 0px 10px"><strong>3.5 - 4 hours</strong></p>
                                <p style="margin: 0px 10px 0px; font-size: 12px; width: 100%;">(without considering transportation time)</p>
                            </div>
                            <div class="col-4">
                                <p class="card-text" style="margin: 0px 10px 0px">When:</p>
                                <p style="margin: 0px 10px 0px"><strong>Wednesday &amp; Saturday</strong></p></div>
                            <div class="col-4">
                                <p class="card-text" style="margin: 0px 10px 0px">Visits:</p>
                                <p style="margin: 0px 10px 0px"><strong>4 Stops</strong></p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="card-text text-center" style="margin-bottom: 0px"><strong>Price: $79.00 USD</strong></p>
                                <p class="card-text" style="margin-top: 0px">(18+/ Alcohol included)</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-bottom: 1.25rem;">
                    <div class="col-12">
                        <!--                                                        <input type="submit" class="btn btn-success btn-send" value="BOOK NOW">-->
                        <a href="https://cancunfoodtours.com/bookings/1" class="btn btn-success btn-send">BOOK NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
