<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <!--
<ul class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"><p>Hola</p></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ul>
-->
    <div class="carousel-inner">
        <div class="carousel-item active" data-slide-number="0">
            <img class="d-block w-100" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-tostada.jpg" alt="First slide">
            <div class="carousel-caption d-md-block text-left">
                <!--            style="background-color: black; opacity: 0.5;"> -->
                <h5 class="picture-title">Fish Ceviche Tostada</h5>
                <p class="picture-description">Catch of the day, caribbean seafood.</p>
            </div>
        </div>
        <div class="carousel-item" data-slide-number="1">
            <img class="d-block w-100" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-pescadillas.jpg" alt="Second slide">
            <div class="carousel-caption d-md-block text-left">
                <h5 class="picture-title">Shrimp Empanadas</h5>
                <p class="picture-description">Famous pescadillas are a local favorite.</p>
            </div>
        </div>
        <div class="carousel-item" data-slide-number="2">
            <img class="d-block w-100" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-mezcal.jpg" alt="Third slide">
            <div class="carousel-caption d-md-block text-left">
                <h5 class="picture-title">Mezcal Machete</h5>
                <p class="picture-description">You will love it.</p>
            </div>
        </div>
        <div class="carousel-item" data-slide-number="3">
            <img class="d-block w-100" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-panucho.jpg" alt="First slide">
            <div class="carousel-caption d-md-block text-left">
                <!--            style="background-color: black; opacity: 0.5;"> -->
                <h5 class="picture-title">Cochinita Pibil Panucho</h5>
                <p class="picture-description">Regional Pulled Pork over crispy tortilla.</p>
            </div>
        </div>
        <div class="carousel-item" data-slide-number="4">
            <img class="d-block w-100" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-papadzul.jpg" alt="Second slide">
            <div class="carousel-caption d-md-block text-left">
                <h5 class="picture-title">Papadzul</h5>
                <p class="picture-description">Regional Best.</p>
            </div>
        </div>
        <div class="carousel-item" data-slide-number="5">
            <img class="d-block w-100" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-xtabentun.jpg" alt="Third slide">
            <div class="carousel-caption d-md-block text-left">
                <h5 class="picture-title">Xtabentun</h5>
                <p class="picture-description">Liquor of the Mayan Gods.</p>
            </div>
        </div>
        <div class="carousel-item" data-slide-number="6">
            <img class="d-block w-100" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-tacos.jpg" alt="Third slide">
            <div class="carousel-caption d-md-block text-left">
                <h5 class="picture-title">Pastor &amp; Arrachera Tacos</h5>
                <p class="picture-description">A traditional best.</p>
            </div>
        </div>
        <div class="carousel-item" data-slide-number="7">
            <img class="d-block w-100" src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-guacamole.jpg" alt="Third slide">
            <div class="carousel-caption d-md-block text-left">
                <h5 class="picture-title">Guacamole &amp; Chips</h5>
                <p class="picture-description">What's not to love?</p>
            </div>
        </div>
        <a class="carousel-control-prev previous-control" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
        <a class="carousel-control-next next-control" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
    <ol class="carousel-indicators">
        <li data-target='#carousel-custom' data-slide-to='0' class='product-carousel-item active'>
            <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carouselExampleControls">
                <img src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-tostada-thumb.jpg" alt="CanTours  the food tours in cancun" title="tours the food tours in cancun">
            </a>
        </li>
        <li data-target='#carousel-custom' data-slide-to='1' class="product-carousel-item">
            <a id="carousel-selector-1" class="selected" data-slide-to="1" data-target="#carouselExampleControls">
                <img src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-pescadillas-thumb.jpg" alt="Tours  the food tours in cancun" title="tours the food tours in cancun">
            </a>
        </li>
        <li data-target='#carousel-custom' data-slide-to='2' class="product-carousel-item">
            <a id="carousel-selector-2" class="selected" data-slide-to="2" data-target="#carouselExampleControls">
                <img src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-mezcal-thumb.jpg" alt="tourTours  the food tours in cancun" title="tours the food tours in cancun">
            </a>
        </li>
        <li data-target='#carousel-custom' data-slide-to='3' class='product-carousel-item'>
            <a id="carousel-selector-0" class="selected" data-slide-to="3" data-target="#carouselExampleControls">
                <img src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-panucho-thumb.jpg" alt="CanTours  the food tours in cancun" title="tours the food tours in cancun">
            </a>
        </li>
        <li data-target='#carousel-custom' data-slide-to='4' class="product-carousel-item">
            <a id="carousel-selector-1" class="selected" data-slide-to="4" data-target="#carouselExampleControls">
                <img src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-papadzul-thumb.jpg" alt="Tours  the food tours in cancun" title="tours the food tours in cancun">
            </a>
        </li>
        <li data-target='#carousel-custom' data-slide-to='5' class="product-carousel-item">
            <a id="carousel-selector-2" class="selected" data-slide-to="5" data-target="#carouselExampleControls">
                <img src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-xtabentun-thumb.jpg" alt="tourTours  the food tours in cancun" title="tours the food tours in cancun">
            </a>
        </li>
        <li data-target='#carousel-custom' data-slide-to='6' class="product-carousel-item">
            <a id="carousel-selector-2" class="selected" data-slide-to="6" data-target="#carouselExampleControls">
                <img src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-tacos-thumb.jpg" alt="tourTours  the food tours in cancun" title="tours the food tours in cancun">
            </a>
        </li>
        <li data-target='#carousel-custom' data-slide-to='7' class="product-carousel-item">
            <a id="carousel-selector-2" class="selected" data-slide-to="7" data-target="#carouselExampleControls">
                <img src="https://cancunfoodtours.com/img/Flavors/flavors-of-mexico-guacamole-thumb.jpg" alt="tourTours  the food tours in cancun" title="tours the food tours in cancun">
            </a>
        </li>
    </ol>
    <!--
    <ol class='carousel-indicators'>
        <li data-target='#carouselExampleControls' data-slide-to='0' class='active'><img src='http://placehold.it/100x50&text=slide1' alt='' /></li>
        <li data-target='#carouselExampleControls' data-slide-to='1'><img src='http://placehold.it/100x50&text=slide2' alt='' /></li>
        <li data-target='#carouselExampleControls' data-slide-to='2'><img src='http://placehold.it/100x50&text=slide3' alt='' /></li>  
        <li data-target='#carouselExampleControls' data-slide-to='3'><img src='http://placehold.it/100x50&text=slide4' alt='' /></li>
        <li data-target='#carouselExampleControls' data-slide-to='4'><img src='http://placehold.it/100x50&text=slide5' alt='' /></li>
        <li data-target='#carouselExampleControls' data-slide-to='5'><img src='http://placehold.it/100x50&text=slide6' alt='' /></li>
        <li data-target='#carouselExampleControls' data-slide-to='6'><img src='http://placehold.it/100x50&text=slide7' alt='' /></li>
        <li data-target='#carouselExampleControls' data-slide-to='7'><img src='http://placehold.it/100x50&text=slide8' alt='' /></li>
        <li data-target='#carouselExampleControls' data-slide-to='8'><img src='http://placehold.it/100x50&text=slide9' alt='' /></li>
    </ol>
-->
</div>
