<div class="row justify-content-center">

    <div class="col-6 col-lg-3">
<!--
        <div class="row">
        <div class="col-12">
-->
        <div style="height: 72px">
        <img src="images/Car_TA.png">
        </div>
        <p><strong>Convenient</strong></p>
        <p>Just book, then relax. We'll take care of the rest, even transportation.</p>
<!--
            </div>
        </div>
-->
        
    </div>
    <div class="col-6 col-lg-3">
        <div style="height: 72px">
    <img src="images/Bird_TA.png">
        </div>
        <p><strong>Great Quality</strong></p>
        <p>Handpicked high-standard restaurants are only invited to be our partners.</p>
    </div>
    
    <div class="col-6 col-lg-3">
        <div style="height: 72px">
    <img src="images/Molcajete_TA.png">
        </div>
        <p><strong>Indulge</strong></p>
        <p>Get ready to immerse yourself in a one-of-a-kind mexican culinary experience.</p>
    </div>
    
    <div class="col-6 col-lg-3">
        <div style="height: 72px">
    <img src="images/Trust_TA.png">
        </div>
        <p><strong>Trust</strong></p>
        <p> Hundreds of foodies have been delighted with our Cancun Food Tours.</p>
    </div>
</div>
